/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-idle-panel {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--xh-bg-alt);

  &.xh-panel .xh-panel-header {
    background-color: var(--xh-appbar-bg);
    color: var(--xh-appbar-title-text-color);
    padding: var(--xh-spacing-half) var(--xh-spacing);
    height: 38px;

    &__title {
      font-size: var(--xh-appbar-title-font-size);
    }

    & > svg {
      margin: 0 var(--xh-spacing) 0 var(--xh-spacing-half);
    }
  }

  img {
    width: 100%;
    background: var(--xh-bg);
    border-bottom: var(--xh-border-solid);
    object-fit: contain;
  }

  &__content {
    padding: var(--xh-spacing-double);
    margin-bottom: 10vh;
    justify-content: space-evenly;
  }

  &__text-container p {
    margin: var(--xh-spacing-half);
    text-align: center;
  }

  &__button-container {
    margin: 0 var(--xh-spacing-double);
    padding: var(--xh-spacing);
  }
}
