.filter-popover {
  &__tab-switcher {
    min-height: 20px;
    max-height: 20px;
    margin-right: 2px;

    &--button {
      width: 45px;
      font-size: 10px !important;
      min-height: 20px !important;
      max-height: 20px !important;
    }
  }

  .custom-filter {
    height: 250px;
    width: 240px;

    &__operator-label {
      margin-top: var(--xh-pad-px);
      margin-left: var(--xh-pad-px);
      align-items: flex-end;

      > * {
        margin-right: var(--xh-pad-half-px);
      }
    }

    &__input {
      margin-top: var(--xh-pad-px);
      justify-content: center;
    }
  }
}

.op-label {
  font-weight: 500;
  margin-right: 1px;
}