.xh-grid-filter-dialog {
  height: 80vh;
  max-height: 700px;
  width: 80vw;
  max-width: 700px;

  .xh-form-field {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  .xh-code-input {
    width: 100% !important;
    height: 100% !important;
  }
}
