.xh-col-chooser {
  border: var(--xh-border-solid);

  & > .xh-vframe {
    height: 100%;
    background-color: var(--xh-bg-alt);

    .xh-dark & {
      background-color: var(--xh-bg);
    }
  }

  &__internal {
    height: 100%;
  }

  &__section {
    background: var(--xh-bg);

    &:first-child {
      height: 65% !important;
    }

    &:last-child {
      height: 35% !important;
    }

    .xh-panel__content {
      display: flex;
      flex-direction: column;
    }

    .xh-panel-header {
      padding: var(--xh-pad-half-px) var(--xh-pad-px);
      background-color: var(--xh-navbar-bg);
      color: var(--xh-navbar-title-color);

      &__title {
        font-size: var(--xh-font-size-small-px);
      }
    }
  }

  &__list {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__row {
    padding: 2px 0;
    display: flex;
    align-items: center;
    border-bottom: var(--xh-border-solid);
    background-color: var(--xh-bg);
    height: 35px;
    flex-shrink: 0;

    &__grabber {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 40px;
      text-align: center;
      color: var(--xh-text-color-muted);
    }

    &__text {
      flex: 1;
    }

    .xh-button {
      width: 50px;
    }

    &--pinned .xh-col-chooser__row__grabber {
      color: var(--xh-accent-color);
    }

    &--dragging {
      border: var(--xh-border-solid);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      .xh-col-chooser__row__grabber,
      .xh-col-chooser__row__text {
        color: var(--xh-accent-color);
      }
    }
  }

  .hidden-columns .xh-col-chooser-row {
    color: var(--xh-text-color-muted);
  }
}
