.xh-col-chooser {
  &__internal {
    height: 100%;
  }

  &__section {
    &:first-child {
      height: 65% !important;
    }

    &:last-child {
      height: 35% !important;
    }

    .xh-panel__content {
      display: flex;
      flex-direction: column;
    }

    .xh-panel-header {
      background-color: var(--xh-appbar-bg);
      color: var(--xh-appbar-title-color);
      padding-left: var(--xh-pad-px);
    }
  }

  &__list {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__row {
    padding: 2px 0;
    display: flex;
    align-items: center;
    border-bottom: var(--xh-border-solid);
    background-color: var(--xh-bg);
    flex-shrink: 0;

    &__grabber {
      display: flex;
      align-items: center;
      justify-content: center;
      // Drives overall height of row - sync'd with AgGrid.ROW_HEIGHTS_MOBILE.large, less padding,
      // to provide some consistent-ish sizing across this + ZoneMapper (which uses an actual grid)
      height: 34px;
      width: 40px;
      text-align: center;
      color: var(--xh-text-color-muted);
    }

    &__text {
      flex: 1;
    }

    .xh-button {
      width: 50px;
    }

    &--pinned .xh-col-chooser__row__grabber {
      color: var(--xh-accent-color);
    }

    &--dragging {
      border: var(--xh-border-solid);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      .xh-col-chooser__row__grabber,
      .xh-col-chooser__row__text {
        color: var(--xh-accent-color);
      }
    }
  }

  .hidden-columns .xh-col-chooser-row {
    color: var(--xh-text-color-muted);
  }
}
