.ag-grid-holder > div {
  // Ag-grid installs an outer div around itself.
  // This should use height: auto rather than height: 100%, to allow the layoutConfig to work.
  width: 100%;
  height: auto !important;
}

.ag-theme-balham, .ag-theme-balham-dark {
  font-family: var(--xh-grid-font-family);
  font-size: var(--xh-grid-font-size-px);

  .ag-menu {
    font-family: var(--xh-font-family);
    background-color: var(--xh-bg-alt);

    // Matching no border + box-shadow of Blueprint context menu popover
    border: none;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 2px 4px rgba(16, 22, 26, 0.4), 0 8px 24px rgba(16, 22, 26, 0.4);

    .ag-menu-option.ag-menu-option-active {
      background-color: var(--xh-bg-highlight);
    }
  }

  .ag-root {
    border: none;
    background-color: var(--xh-grid-bg);
  }

  .ag-header {
    color: var(--xh-grid-header-text-color);
    background-color: var(--xh-grid-header-bg);
    font-family: var(--xh-grid-font-family);
    font-size: var(--xh-grid-font-size);
  }

  .ag-row {
    background-color: var(--xh-grid-bg);
    border-bottom-color: var(--xh-grid-border-color);

    &.ag-row-odd {
      background-color: var(--xh-grid-bg-odd);
    }

    &.ag-row-selected {
      background-color: var(--xh-grid-bg-highlight);
    }

    &.ag-row-group {
      color: var(--xh-grid-group-text-color);
      background-color: var(--xh-grid-group-bg);
      // TODO - determine why these group headers seem misaligned
      padding-top: 2px;
    }

    .group-header-icon-expanded {
      margin: var(--xh-pad-half-px) var(--xh-pad-half-px) 0 var(--xh-pad-half-px);
    }

    .group-header-icon-contracted {
      margin: var(--xh-pad-half-px) 8px 0 8px;
    }
  }

  .ag-cell-focus {
    border-color: var(--xh-grid-cell-focus-border-color) !important;
  }

  .ag-group-expanded, .ag-group-contracted {
    span {
      margin: 0 var(--xh-pad-half-px);
    }
  }

  .ag-tool-panel {
    border: none;
  }

  .ag-bl-overlay {
    display: none;
  }
}

.xh-column-header-align-right .ag-header-cell-label {
  width: auto;
  float: none;
  justify-content: flex-end;
}

.xh-column-header-align-center .ag-header-cell-label {
  width: auto;
  float: none;
  justify-content: center;
}