.ag-grid-holder > div {
  // Ag-grid installs an outer div around itself.
  // This should use height: auto rather than height: 100%, to allow the layoutConfig to work.
  width: 100%;
  height: auto !important;
}

.xh-grid {
  font-family: var(--xh-grid-font-family);
  font-size: var(--xh-grid-font-size-px);

  .ag-root {
    border: none;
    background-color: var(--xh-grid-bg);
  }

  .ag-header {
    color: var(--xh-grid-header-text-color);
    background-color: var(--xh-grid-header-bg);
    font-family: var(--xh-grid-font-family);
    font-size: var(--xh-grid-font-size-px);

    .xh-grid-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 32px;
      cursor: pointer;

      span {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        margin-left: var(--xh-pad-half-px);
        color: var(--xh-grid-header-icon-color);
      }

      &.xh-grid-header-multisort .xh-grid-header-sort-icon svg {
        opacity: 0.5;
      }

      .xh-grid-header-menu-icon {
        cursor: pointer;
      }
    }
  }

  .ag-row {
    background-color: var(--xh-grid-bg);
    border-bottom-color: var(--xh-grid-border-color);

    &.ag-row-odd {
      background-color: var(--xh-grid-bg-odd);
    }

    &.ag-row-selected {
      background-color: var(--xh-grid-bg-highlight);
    }

    &.ag-row-group {
      color: var(--xh-grid-group-text-color);
      background-color: var(--xh-grid-group-bg);
    }

    .group-header-icon-expanded {
      margin: var(--xh-pad-half-px) var(--xh-pad-half-px) 0 0;
    }

    .group-header-icon-contracted {
      margin: var(--xh-pad-half-px) var(--xh-pad-half-px) 0 0;
    }
  }

  // Generate indentations for tree grids.
  // Based upon https://github.com/ag-grid/ag-grid/blob/master/packages/ag-grid-community/src/styles/ag-grid.scss#L1018
  $xh-tree-indent: 10px !default;
  @for $i from 1 to 50 {
    .ag-ltr .ag-row-group-indent-#{$i} {
      padding-left: $i * $xh-tree-indent;
    }
  }

  .ag-ltr .ag-row-group-leaf-indent {
    margin-left: 20px;
  }

  &.xh-grid-show-hover .ag-row.ag-row-hover:not(.ag-row-group):not(.ag-row-selected) {
    background-color: var(--xh-grid-bg-hover);
  }

  .ag-cell-value {
    line-height: var(--xh-grid-line-height-px);
  }

  .ag-cell-focus {
    border-color: var(--xh-grid-cell-focus-border-color) !important;
    outline: 0 !important;
  }

  .ag-group-expanded, .ag-group-contracted {
    span {
      margin: 0 var(--xh-pad-half-px);
    }
  }

  .ag-tool-panel {
    border: none;
  }

  .ag-bl-overlay {
    display: none;
  }
}

.xh-grid-multi-field {
  .ag-cell-value {
    line-height: var(--xh-grid-multi-field-line-height-px);
  }

  .xh-multi-field-renderer {
    .xh-multi-field-renderer-top {
      padding: 4px 0 0;
      font-size: var(--xh-grid-multi-field-top-font-size-px);
    }
    .xh-multi-field-renderer-bottom {
      font-size: var(--xh-grid-multi-field-bottom-font-size-px);
      color: var(--xh-text-color-muted);

      .xh-multi-field-renderer-bottom-field {
        margin: 0 4px 0 0;

        & > span {
          padding: 0 4px 0 0;
        }
      }
    }
  }
}

.xh-align-right .xh-multi-field-renderer .xh-multi-field-renderer-bottom {
  justify-content: flex-end;

  .xh-multi-field-renderer-bottom-field {
    margin: 0 0 0 4px;

    & > span {
      padding: 0 0 0 4px;
    }
  }
}

.xh-grid-compact {
  font-size: var(--xh-grid-compact-font-size-px);

  .ag-cell-value {
    line-height: var(--xh-grid-compact-line-height-px);
  }
}

// Grouped header padding appears slightly off w/standard row height
.xh-grid-standard {
  .ag-row.ag-row-group {
    padding-top: 2px;
  }
}

.ag-overlay {
  // Match loading overlay color to mask, suppress display of text in center.
  .ag-overlay-loading-wrapper {
    background-color: var(--xh-mask-bg);

    .ag-overlay-loading-center {
      display: none;
    }
  }

  // Reduce default contrast of emptyText.
  .ag-overlay-no-rows-wrapper {
    color: var(--xh-grid-empty-text-color);
  }
}

.xh-column-header-align-right .xh-grid-header {
  text-align: right;
}

.xh-column-header-align-center .xh-grid-header {
  text-align: center;
}

// ag-Grid context menu customizations
.ag-theme-balham .ag-menu, .ag-theme-balham-dark .ag-menu {
  z-index: 9999 !important; // always show context menus above other content, e.g. dialog

  font-family: var(--xh-font-family);
  background-color: var(--xh-bg-alt);

  // Matching no border + box-shadow of Blueprint context menu popover
  border: none;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 2px 4px rgba(16, 22, 26, 0.4), 0 8px 24px rgba(16, 22, 26, 0.4);

  .ag-menu-option.ag-menu-option-active {
    background-color: var(--xh-bg-highlight);
  }

  .ag-menu-option-icon {
    text-align: center;
  }
}
