/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2019 Extremely Heavy Industries Inc.
 */

.xh-tab-container {
  max-width: 100%;
  max-height: 100%;
  flex: 1 1 0;

  .xh-tab-wrapper {
    display: flex;
    min-width: 0;
    min-height: 0;
    flex: 1 1 0;
  }

  .xh-tab-switcher--top {
    padding-bottom: var(--xh-pad-half-px);
  }

  .xh-tab-switcher--bottom {
    padding-top: var(--xh-pad-half-px);

    // Flip the indicator to be on top of the tab label
    .bp3-tab-list > .bp3-tab-indicator-wrapper {
      top: -85%;
    }
  }
}
