/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

.xh-tab-container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
  flex: 1 1 0;

  .xh-tab-wrapper {
    display: flex;
    min-width: 0;
    min-height: 0;
    flex: 1 1 0;
  }
}

.xh-tab-switcher {
  // Allow scrolling
  &--overflow-enabled {
    .xh-tab-switcher__scroll {
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &--top {
    padding-left: var(--xh-pad-px);
    max-width: 100%;
  }

  &--bottom {
    padding-left: var(--xh-pad-px);
    padding-top: var(--xh-pad-half-px);
    max-width: 100%;

    // Flip the indicator to be on top of the tab label
    .bp3-tab[aria-selected=true] {
      box-shadow: inset 0 3px 0 currentColor;
    }
  }

  &--left,
  &--right {
    flex-direction: column;
    max-height: 100%;

    // Make overflow button full width
    .bp3-popover-wrapper .bp3-popover-target {
      display: block;

      .xh-button {
        width: 100%;
      }
    }
  }

  // Right align close button within tabs
  &__tab {
    & > svg:first-child {
      margin: 0.5em var(--xh-pad-half-px) 0 0;
      min-width: 0;
    }

    & > span {
      flex: 1;
      min-width: 0;
      overflow: hidden;
    }

    // Close button styling
    .xh-button {
      align-self: center;
      padding: 0 !important;
      margin-left: 3px;
      min-height: 15px;
      min-width: 15px;
      border-radius: 100% !important;
    }
  }

  &__overflow-menu {
    min-width: unset;

    .xh-button {
      padding: 0 !important;
      min-width: 20px !important;
      min-height: 20px !important;
    }
  }

  // Tooltip
  .bp3-tab {
    .bp3-popover-wrapper,
    .bp3-popover-target {
      width: 100%;
    }
  }
}
