/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-card {
  border-color: var(--xh-border-color);
  border-style: solid;
  border-width: var(--xh-border-width-px);

  &--collapsed {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  &--intent-primary {
    border-color: var(--xh-card-primary-color);
  }

  &--intent-success {
    border-color: var(--xh-card-success-color);
  }

  &--intent-warning {
    border-color: var(--xh-card-warning-color);
  }

  &--intent-danger {
    border-color: var(--xh-card-danger-color);
  }

  &__content {
    flex-direction: column;
  }

  &__header {
    align-items: center;
    display: flex;
    gap: 8px;
    min-height: 30px;
    padding: var(--xh-pad-half-px) var(--xh-pad-half-px);

    &--intent-primary {
      color: var(--xh-card-primary-color);
    }

    &--intent-success {
      color: var(--xh-card-success-color);
    }

    &--intent-warning {
      color: var(--xh-card-warning-color);
    }

    &--intent-danger {
      color: var(--xh-card-danger-color);
    }
  }
}
