.ag-theme-balham, .ag-theme-balham-dark {
  font-family: var(--xh-font-family-grid);
  font-size: var(--xh-font-size);

  .ag-menu {
    font-family: var(--xh-font-family);
    background-color: var(--xh-bg-color-alt);

    // Matching no border + box-shadow of Blueprint context menu popover
    border: none;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 2px 4px rgba(16, 22, 26, 0.4), 0 8px 24px rgba(16, 22, 26, 0.4);
  }

  .ag-root {
    border: none;
    background-color: var(--xh-bg-color-grid);
  }

  .ag-header {
    color: var(--xh-text-color);
    font-family: var(--xh-font-family-grid);
    background-color: var(--xh-grid-header-bg-color);
  }

  .ag-row {
    background-color: var(--xh-bg-color-grid);
    border-bottom-color: var(--xh-border-color-grid);

    &.ag-row-odd {
      background-color: var(--xh-bg-color-grid-odd);
    }

    &.ag-row-selected {
      background-color: var(--xh-bg-color-highlight);
    }

    &.ag-row-group {
      color: white;
      background-color: var(--xh-bg-color-grid-group);
    }
  }

}

.xh-column-header-align-right .ag-header-cell-label {
  width: auto;
  float: none;
  justify-content: flex-end;
}

.xh-column-header-align-center .ag-header-cell-label {
  width: auto;
  float: none;
  justify-content: center;
}