.xh-popover {
  &__content-wrapper {
    position: fixed;
    z-index: 21;
    background-color: var(--xh-bg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  &__content-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: transparent;

    &--backdrop {
      background-color: var(--xh-mask-bg);
    }
  }
}
