.role-graph {
  transform: scaleY(-1);

  text:not(.highcharts-collapse-button text) {
    transform: scaleY(-1);
    transform-box: fill-box;
    transform-origin: center;
  }

  .highcharts-tooltip {
    filter: drop-shadow(2px -2px 3px var(--xh-border-color));
  }
}
