.xh-custom-filter-tab {
  &__list {
    overflow-y: auto;
    width: 100%;

    &__add-btn-row {
      display: flex;
      padding: var(--xh-pad-half-px);
    }
  }

  &__tbar {
    background-color: transparent;
    .xh-button {
      width: 60px;
    }
  }

  &__row {
    display: flex;
    padding: var(--xh-pad-half-px);
    border-bottom: 1px solid var(--xh-grid-border-color);

    &__body {
      flex: 1;
    }

    &__bottom {
      margin-top: var(--xh-pad-half-px);

      .bp5-popover-wrapper,
      .bp5-popover-target,
      .bp5-input-group {
        width: 100%;
      }
    }

    &__right {
      padding-left: 2px;
    }
  }
}
