.xh-custom-filter-tab {
  &__list {
    overflow-y: auto;
    width: 100%;
  }

  &__row {
    padding: var(--xh-pad-half-px);
    border-bottom: var(--xh-border-solid);

    &__top {
      display: flex;
      align-items: center;

      .xh-select {
        flex: none;
        width: 170px !important;

        .xh-select__control {
          background: none;
          box-shadow: none;
        }
      }

      .xh-button {
        padding: 0 !important;
        min-width: 24px !important;
        min-height: 24px !important;
      }
    }
  }

  &__operator-renderer .xh-icon {
    font-weight: 500;
  }
}