.xh-custom-filter-tab {
  &__list {
    overflow-y: auto;
    width: 100%;

    &__add-btn-row {
      display: flex;
      padding: var(--xh-pad-half-px);
    }
  }

  &__tbar {
    background-color: transparent;
    .xh-button {
      width: 60px;
    }
  }

  &__row {
    padding: var(--xh-pad-half-px);
    border-bottom: 1px solid var(--xh-grid-border-color);

    &__top {
      display: flex;
      align-items: center;

      .xh-select {
        flex: none;
        width: 200px !important;
      }

      .xh-button {
        padding: 0 !important;
        min-width: 30px !important;
        margin-left: 2px;
        min-height: 24px !important;
      }
    }

    &__bottom {
      margin-top: var(--xh-pad-half-px);

      .xh-input {
        width: 200px !important;
      }

      .bp3-popover-wrapper,
      .bp3-input-group {
        width: 200px;
      }
    }
  }

  &__implicit_join_message {
    display: flex;
    padding: var(--xh-pad-half-px);
    background-color: var(--xh-bg-alt);
    border-top: var(--xh-border-solid);
    color: var(--xh-text-color-muted);

    .xh-icon {
      margin-right: var(--xh-pad-half-px);
    }

    div {
      font-size: var(--xh-font-size-small-px);
    }
  }
}
