.xh-resizable-dragger {
    position: absolute;
    background-color: transparent;
    z-index: 5;

    &.top, &.bottom {
        width: 100%;
        height: 8px;
        left: 0;
        cursor: ns-resize;
    }

    &.right, &.left {
        width: 8px;
        height: 100%;
        top: 0;
        cursor: ew-resize;
    }

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }

    &.right {
        right: 0;
    }

    &.left {
        left: 0;
    }
}
