.xh-ag-grid {
  .ag-cell.ag-cell-inline-editing {
    display: flex;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 100%;
    border: none;

    // Remove the border when focused on a cell which is being inline edited as we already add a
    // border around the input, so this causes some undesirable extra padding on the contents of the
    // cell
    &.ag-cell-focus {
      border: none !important;
    }

    .ag-react-container {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 1px;

      .bp3-popover-wrapper,
      .bp3-popover-target > div {
        display: flex;
        flex: 1;
        height: 100%;
        width: 100%;
      }

      .xh-inline-editor {
        width: 100%;
        height: 100%;

        .bp3-input-group {
          display: flex;
          flex: 1;
          height: 100%;
          width: 100%;

          .bp3-input-action {
            button {
              min-height: 18px;

              .xh-icon {
                margin-top: 3px;
                font-size: var(--xh-font-size-px);
              }
            }
          }

          input {
            width: 100%;
            height: 100%;
            font-family: var(--xh-grid-font-family);
          }
        }

        &.xh-inline-checkbox-editor {
          flex: 1 1 auto;
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 0;

          .bp3-control-indicator {
            margin: 0;
          }
        }
      }
    }
  }

  &--standard .xh-inline-editor input {
    padding-left: var(--xh-grid-cell-lr-pad-px);
    padding-right: var(--xh-grid-cell-lr-pad-px);
    font-size: var(--xh-grid-font-size-px);
  }

  &--large .xh-inline-editor input {
    padding-left: var(--xh-grid-large-cell-lr-pad-px);
    padding-right: var(--xh-grid-large-cell-lr-pad-px);
    font-size: var(--xh-grid-large-font-size-px);
  }

  &--compact .xh-inline-editor input {
    padding-left: var(--xh-grid-compact-cell-lr-pad-px);
    padding-right: var(--xh-grid-compact-cell-lr-pad-px);
    font-size: var(--xh-grid-compact-font-size-px);
  }

  &--tiny .xh-inline-editor input {
    padding-left: var(--xh-grid-tiny-cell-lr-pad-px);
    padding-right: var(--xh-grid-tiny-cell-lr-pad-px);
    font-size: var(--xh-grid-tiny-font-size-px);
  }
}
