.xh-values-filter-tab {
  .store-filter-header {
    padding: 5px 7px;
    border-bottom: 1px solid var(--xh-grid-header-border-color);
    row-gap: 5px;
    .bp5-control-indicator {
      font-size: 1em;
    }
    label {
      font-size: var(--xh-grid-compact-header-font-size-px);
      color: var(--xh-grid-header-text-color);
      cursor: pointer;
    }
    .sort-icon {
      border-left: var(--xh-menu-border);
      padding-left: var(--xh-pad-half-px);
      color: var(--xh-grid-header-text-color);
    }
  }

  &__hidden-values-message {
    display: flex;
    padding: var(--xh-pad-half-px);
    background-color: var(--xh-bg-alt);
    border-top: var(--xh-border-solid);
    color: var(--xh-text-color-muted);

    .xh-icon {
      margin-right: var(--xh-pad-half-px);
    }

    div {
      font-size: var(--xh-font-size-small-px);
    }
  }

  &__custom-filter-message {
    display: flex;
    flex-direction: column;
    align-items: center;

    .xh-button {
      margin-top: var(--xh-pad-px);
    }
  }

  // Fix up alignment on first checkbox column.
  .ag-header-cell.xh-column-header-align-center {
    padding: 0 !important;
  }

  .ag-pinned-left-header,
  .ag-cell.ag-cell-last-left-pinned {
    .bp5-control.bp5-inline {
      margin-right: -8px;

      input {
        margin: 0;
      }
    }

    // Less obvious pinning for the checkbox column.
    border-right: none !important;
  }
}
