// Sizing below designed to ensure that DialogPanel occupies the entire (safe) area of the screen.
.xh-dialog-panel {
  & > .dialog {
    width: 100svw;
    max-height: 100dvh !important;

    .dialog-container {
      height: 100dvh;
      max-width: 100svw !important;
      border: 0 !important;

      & > .xh-panel {
        width: 100%;
        height: 100%;
      }
    }
  }
}
