#xh-fullscreen-panel-portal {
  z-index: 22;

  .xh-fullscreen-panel {
    position: absolute !important;
    z-index: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--xh-bg);

    // Style panel header to match app toolbar
    & > .xh-panel-header:first-child {
      padding: var(--xh-pad-half-px) var(--xh-pad-px);
      background-color: var(--xh-appbar-bg);
      color: var(--xh-appbar-title-color);
      font-size: var(--xh-appbar-title-font-size-px);
      height: var(--xh-tbar-min-size-px);

      .xh-panel-header__title {
        font-size: var(--xh-appbar-title-font-size-px);
      }
    }
  }
}
