.xh-admin-about-panel {
    padding: var(--xh-padding-px);
}

.xh-admin-about-panel table {
    border-spacing: 0;
    border-collapse: collapse;
}

.xh-admin-about-panel tr {
    border: 1px solid var(--xh-border-color);
}

.xh-admin-about-panel th {
    padding: var(--xh-padding-px);
    background-color: var(--xh-alt-bg-color);
    width: 200px;
    text-align: left;
}

.xh-admin-about-panel td {
    padding: var(--xh-padding-px);
    width: 200px;
    text-align: right;
}