/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2018 Extremely Heavy Industries Inc.
 */

.xh-admin-about-panel {
  padding: var(--xh-pad-px);

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  tr {
    border: 1px solid var(--xh-border-color);
  }

  th {
    padding: var(--xh-pad-px);
    background-color: var(--xh-bg-color-alt);
    width: 200px;
    text-align: left;
  }

  td {
    padding: var(--xh-pad-px);
    width: 200px;
    text-align: right;
  }

}
