/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */
.xh-navigator {
  width: 100%;
  height: 100%;

  .swiper-slide {
    box-shadow:
      0 0 0 1px var(--xh-border-color),
      0 0 20px rgba(0, 0, 0, 0.3);
  }

  .div.swiper-container {
    touch-action: pan-x;
  }
}
