.xh-leftRightChooser {
  .gridContainer {
    > div:not(.xh-toolbar) {
      width: calc(50% - 15px);
    }
  }

  .item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}