.xh-custom-filter-tab {
  &__list {
    overflow-y: auto;
    width: 100%;

    &__add-btn-row {
      display: flex;
      padding: var(--xh-spacing-half);
    }
  }

  &__unsupported {
    padding: var(--xh-spacing);
    color: var(--xh-text-color-muted);
  }

  &__tbar {
    background-color: transparent;
    .xh-button {
      width: 60px;
    }
  }

  &__row {
    display: flex;
    padding: var(--xh-spacing-half);
    border-bottom: 1px solid var(--xh-grid-border-color);

    &__body {
      flex: 1;
    }

    &__bottom {
      margin-top: var(--xh-spacing-half);

      .bp6-popover-target,
      .bp6-input-group {
        width: 100%;
      }
    }

    &__right {
      padding-left: 2px;
    }
  }
}
