{
    "plugins": ["eslint-plugin-tsdoc"],
    "extends": ["@xh/eslint-config", "prettier"],
    "rules": {
        "tsdoc/syntax": "warn"
    },
    "ignorePatterns": ["build/**/*", "node_modules/**/*"]
}
