# XH repo
@xh:registry=https://repo.xh.io/repository/npm-hosted/
# Use token to register pro version of FontAwesome
@fortawesome:registry=https://npm.fontawesome.com/ABE1E3DA-85E5-4338-B645-BB04E504A908