{
    "extends": "stylelint-config-recommended-scss",
    "rules": {
        "no-descending-specificity": null,
        "no-duplicate-selectors": null
    },
    "ignoreFiles": ["node_modules/**/*", "build/**/*"]
}
