{
    "plugins": [
        "stylelint-scss"
    ],
    "extends": [
        "stylelint-config-standard"
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "block-closing-brace-empty-line-before": null,
        "block-closing-brace-space-before": null,
        "block-opening-brace-space-after": null,
        "custom-property-empty-line-before": null,
        "declaration-block-trailing-semicolon": null,
        "max-empty-lines": 2,
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "no-eol-whitespace": null,
        "no-missing-end-of-source-newline": null,
        "property-no-unknown": [
            true,
            {"ignoreSelectors": [":export"]}
        ],
        "rule-empty-line-before": null,
        "scss/at-rule-no-unknown": true,
        "selector-pseudo-class-no-unknown": [
            true,
            {"ignorePseudoClasses": ["export"]}
        ]
    }
}