body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}


/*Utility margin / padding / border classes*/
.xh-mt {margin-top: 10px;}
.xh-mr {margin-right: 10px;}
.xh-mb {margin-bottom: 10px;}
.xh-ml {margin-left: 10px;}
.xh-ma {margin: 10px;}
.xh-mtb {margin: 10px 0;}
.xh-mlr {margin: 0 10px;}

.xh-mt2x {margin-top: 20px;}
.xh-mr2x {margin-right: 20px;}
.xh-mb2x {margin-bottom: 20px;}
.xh-ml2x {margin-left: 20px;}
.xh-ma2x {margin: 20px;}
.xh-mtb2x {margin: 20px 0;}
.xh-mlr2x {margin: 0 20px;}

.xh-pt {padding-top: 10px;}
.xh-pr {padding-right: 10px;}
.xh-pb {padding-bottom: 10px;}
.xh-pl {padding-left: 10px;}
.xh-pa {padding: 10px;}
.xh-ptb {padding: 10px 0;}
.xh-plr {padding: 0 10px;}

.xh-ba {border: 1px solid;}
.xh-bt {border-top: 1px solid;}
.xh-br {border-right: 1px solid;}
.xh-bb {border-bottom: 1px solid;}
.xh-bl {border-left: 1px solid;}


/*XH theme and component classes*/
.xh-dark {
    background-color: #282828;
    color: white;
}

.xh-tbar {
    padding: 10px;
    background-color: #F5F8FA;
}

.xh-dark .xh-tbar {
    background-color: #293742;
}


/*SUI only*/
.xh-app-nav-bar {
    font-size: 20px;
}


/*BP only*/
.pt-navbar-heading {
    margin-left: 8px;
    font-size: 20px !important;
}