.pt-tabs.pt-vertical {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.pt-tabs {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.pt-tab-panel {
    display: flex;
    flex: 1 1 auto;
}