/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

.xh-dialog-portal,
.xh-dialog-container {
  .react-draggable {
    background-color: var(--xh-bg);
    box-shadow: var(--xh-dialog-box-shadow);
    border: var(--xh-popup-border-width-px) solid var(--xh-popup-border-color);
    max-height: 100vh;
    max-width: 100vh;

    .xh-dialog {
      // width & needed to make charts fill in space
      width: 100%;
      height: 100%;
      // flex needed to get content sizes correct (comment out and test /app/other/popups) to see background bleed issue
      display: flex;
    }
  }

  &__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(16, 22, 26, 0.7);
    overflow: auto;
    user-select: none;
  }

  &__click-capture {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: transparent;
    overflow: auto;
    user-select: none;
  }
}

.xh-dialog-container {
  position: absolute;
  width: 100%;
  height: 100%;

  &__mask {
    position: absolute;
  }

  &__click-capture {
    position: absolute;
  }
}
