.xh-mask {
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.xh-mask div {
    margin-top: 5px;
}