.dash-grid-layout-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  .react-grid-item {
    border: var(--xh-border-solid);
    box-shadow: var(--xh-popover-box-shadow);
    display: flex;

    > .react-resizable-handle {

      // Make the resize handles fill the entire side
      &.react-resizable-handle-s,
      &.react-resizable-handle-n {
        left: 0;
        width: 100%;
        height: 3px;
        transform: rotate(0);
      }

      &.react-resizable-handle-e,
      &.react-resizable-handle-w {
        top: 0;
        height: 100%;
        transform: rotate(0);
      }

      // Hide the resize handles
      &::after {
        border-color: transparent;
      }
    }

    &.react-grid-placeholder {
      background-color: var(--xh-intent-primary);
    }

    .xh-panel-header {
      cursor: move;
    }
  }
}
