.dash-grid-layout-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  .react-grid-item {
    border: var(--xh-border-solid);
    display: flex;

    > .react-resizable-handle {

      // Make the resize handles fill the entire side
      &.react-resizable-handle-s {
        bottom: -4px;
        height: 8px;
        left: 0;
        transform: rotate(0);
        width: 100%;
      }

      &.react-resizable-handle-e {
        height: 100%;
        right: -4px;
        top: 0;
        transform: rotate(0);
        width: 8px;
      }

      &.react-resizable-handle-se {
        bottom: -8px;
        height: 16px;
        right: -8px;
        width: 16px;
      }

      // Hide the resize handles
      &::after {
        border-color: transparent;
      }
    }

    &.react-grid-placeholder {
      background-color: var(--xh-intent-primary);
    }

    > .xh-panel {
      > .xh-panel__content {
        > .xh-panel-header {
          background-color: var(--xh-panel-bg-light);
          height: var(--xh-title-ultra-compact-height-px);

          .xh-panel-header__title {
            color: var(--xh-text-color-headings);
            cursor: move;
          }

          // Header glyph.
          & > .svg-inline--fa {
            color: var(--xh-text-color-headings);
          }

          // Header "tool" buttons.
          .xh-button--minimal.xh-button--intent-none {
            color: var(--xh-text-color-headings) !important;

          }
        }
      }
    }
  }
}
