.xh-about-dialog {
    display: flex;
    flex: none;
    width: 300px;
    align-items: center;
    padding: 0;
}

.xh-about-dialog > button {
    margin: 10px;
}

.xh-about-dialog > div, .xh-about-dialog > table {
    width: 100%;
}

.xh-about-table {
    display: flex;
}

.xh-about-table tbody {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.xh-about-table th, .xh-about-table td {
    display: flex;
    flex: 1;
    font-weight: lighter;
    padding: 0 5px;
}
.xh-about-table tr {
    display: flex;
    line-height: 25px;
    border: 1px solid #5C7080;
    border-bottom: none;
}
.xh-about-table tr:last-child {
    border-bottom: 1px solid #5C7080;
}
.xh-about-table td {
    justify-content: flex-end;
}

.xh-about-table th {
    background-color: #282828;
}