.xh-dim-button.xh-button {
  justify-content: left;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.xh-dim-dialog {
  .xh-dialog__inner {
    background-color: var(--xh-bg-alt);

    .dim-history-btn {
      text-align: left;
      background-color: var(--xh-bg);
      justify-content: flex-start;
      overflow: hidden;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }

      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &--active {
        background-color: var(--xh-bg-highlight);

        div:last-child {
          padding-left: 10px;
        }
      }
    }
  }

  .xh-dim-dialog-select-row {
    display: flex;
    padding-bottom: 5px;
  }
}
