.xh-dim-button.xh-button {
  justify-content: left;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.xh-dim-dialog {
  .dim-history-btn {
    text-align: left;
    background: var(--xh-bg-alt);
    justify-content: flex-start;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }

  .xh-dim-dialog-select-row {
    display: flex;
    padding-bottom: 5px;
  }
}
