/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */
.xh-grouping-chooser {
  .xh-grouping-chooser-button {
    width: 100%;
    justify-content: flex-start;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    background-color: var(--xh-bg);
    height: 35px;
    flex-shrink: 0;

    &__grabber {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
    }

    &__select {
      flex: 1;
      border-bottom: var(--xh-border-solid);

      .xh-select {
        border: none;
      }
    }

    &--dragging {
      top: unset !important;
      left: unset !important;
      border: var(--xh-border-solid);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__add-control {
    padding: var(--xh-pad-half-px);
  }

  &__favorite {
    height: 35px;
    align-items: center;

    .xh-button {
      justify-content: left;
    }
  }
}

.xh-grouping-chooser-popover {
  .dialog {
    min-width: unset;
  }

  .xh-dialog__inner {
    padding: 0;
  }

  &__content {
    padding: 3px var(--xh-pad-half-px);
    min-width: 240px; // Required to allow for toolbars
  }
}
