/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */

.xh-log-display {
  &__row {
    font-family: var(--xh-font-family-mono);
    font-size: var(--xh-font-size-small-em);

    &-number {
      color: var(--xh-text-color-accent);
      border-right: var(--xh-border-dotted) !important;
      align-items: flex-start !important;
    }

    &-content {
      white-space: pre;
    }
  }

  &__filter-button {
    margin: 3px 0 !important;
    &--active {
      color: var(--xh-intent-primary) !important;
    }
    &--inactive {
      color: var(--xh-text-color-muted) !important;
    }
  }
}
