/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */
.xh-tab {
  font-size: var(--xh-button-font-size-px);

  // Icon with title
  .xh-icon:not(:last-child) {
    margin-right: var(--xh-pad-half-px);
  }

  // Icon without title
  .xh-icon:last-child {
    font-size: 20px;
  }
}

.xh-tab-page .page__content {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  transform: translateX(0);
}

.xh-tab-container {
  &--top .tabbar {
    border-bottom: var(--xh-border-solid);
  }

  &--bottom .tabbar {
    border-top: var(--xh-border-solid);
  }

  .tabbar {
    height: var(--xh-tbar-min-size-px);
    line-height: var(--xh-tbar-min-size-px);

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--xh-tbar-min-size-px);
      line-height: var(--xh-tbar-min-size-px);
      color: var(--xh-text-color);
    }

    &__content {
      bottom: var(--xh-tbar-min-size-px);
    }
  }

  // Tab visibility is managed via TabContainerModel.renderMode, rather than Onsen's internal state.
  .ons-swiper-target.active:not(.swiping) > .xh-tab-page:not([shown]) {
    visibility: initial;
  }
}
