/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2021 Extremely Heavy Industries Inc.
 */

.xh-status-tile {
  color: white;
  border: 1px solid white;
  border-radius: var(--xh-border-radius);
  overflow: hidden;

  &-ok { background-color: var(--xh-green); }

  &-warn { background-color: var(--xh-orange); }

  &-fail { background-color: var(--xh-red); }

  &-inactive { background-color: var(--xh-gray-dark); }

  &-unknown { background-color: var(--xh-gray-dark); }

  &__name {
    padding: var(--xh-pad-px);
    font-size: var(--xh-font-size-large-em);
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid white;
    white-space: nowrap;
  }

  &__content {
    padding: var(--xh-pad-px);
    flex: 1;

    svg {
      position: absolute;
      right: -20px;
      bottom: 5px;
      opacity: 0.5;
    }
  }

  &__message {
    flex: 1;
    margin-top: var(--xh-pad-px);
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 80px);

    @media only screen and (max-width: 1350px) {
      width: calc(100% - 90px);
    }

    @media only screen and (max-width: 700px) {
      width: calc(100% - 110px);
    }
  }
}
