.xh-mask {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  justify-content: center;

  .bp5-overlay-backdrop {
    background-color: var(--xh-mask-bg);
  }

  .xh-mask-body {
    align-items: center;
    justify-content: center;

    .xh-mask-text {
      background-color: var(--xh-mask-text-bg);
      border: var(--xh-mask-text-border);
      border-radius: var(--xh-border-radius-px);
      color: var(--xh-mask-text-color);
      max-width: 200px;
      padding: var(--xh-pad-half-px);
      text-align: center;
    }
  }
}
