.xh-admin-role-members {
  border-top: var(--xh-border-solid);

  &__counts {
    margin-left: var(--xh-pad-px);

    &__count {
      align-items: center;

      &:not(:last-child) {
        margin-right: 0.6em;
      }

      .xh-icon {
        margin-right: 0.2em;
      }
    }
  }

  &__header {
    align-items: center;
    font-weight: bold;
    gap: var(--xh-pad-half-px);
  }

  .group-row-renderer {
    align-items: center;
    gap: var(--xh-pad-half-px);
  }

  .roles-renderer {
    align-items: center;

    &__role {
      &:not(:last-child) {
        margin-right: var(--xh-pad-half-px);
      }

      &--effective {
        cursor: pointer;
      }
    }
  }
}
