//--------------------
// XH Components
//--------------------
.xh-input {
  input,
  textarea {
    font-size: var(--xh-font-size);
    font-family: var(--xh-font-family);
    font-weight: 400;
    color: var(--xh-text-color);
    border: none !important;
    outline: none !important;
    text-align: inherit;

    &::placeholder {
      color: var(--xh-input-placeholder-text-color);
      opacity: 1;
    }
  }

  &:not(.xh-input-label) {
    font-size: 14px;
    border: var(--xh-border-solid);
    border-radius: var(--xh-border-radius-px);

    &:not(.xh-input-invalid):focus-within {
      border-color: var(--xh-focus-outline-color);
    }
  }

  &.xh-input-invalid {
    border: var(--xh-form-field-invalid-border);
  }
}

.xh-grid .ag-body-viewport::-webkit-scrollbar {
  display: none;
}

//--------------------
// Onsen Overrides
//--------------------
.bottom-bar > .button {
  margin: 6px 4px;
  line-height: 26px;
}

.dialog {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
