//--------------------
// XH Components
//--------------------
.xh-input {
  input,
  textarea {
    font-family: var(--xh-font-family);
    font-size: var(--xh-mobile-input-font-size-px);
    font-weight: 400;

    color: var(--xh-text-color);
    border: none !important;
    outline: none !important;
    text-align: inherit;

    &::placeholder {
      color: var(--xh-input-placeholder-text-color);
      opacity: 1;
    }
  }

  &:not(.xh-input-label):not(.xh-button-group):not(.xh-switch-input):not(.xh-check-box) {
    font-size: var(--xh-mobile-input-font-size-px);
    border: var(--xh-border-solid);
    border-radius: var(--xh-border-radius-px);

    &:not(.xh-input-invalid):focus-within {
      border-color: var(--xh-focus-outline-color);
    }

    &.xh-input-invalid {
      border: var(--xh-form-field-invalid-border);
    }
  }
}

.xh-grid .ag-body-viewport::-webkit-scrollbar {
  display: none;
}
