//--------------------
// XH Components
//--------------------
.xh-menu {
  position: fixed !important;
  z-index: 21;
  background-color: var(--xh-bg);
  border: var(--xh-border-solid);

  .list-item {
    background-color: var(--xh-grid-bg) !important;
  }
}

.xh-input-label {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--xh-text-color-muted);
}

.xh-input {
  input, textarea {
    font-size: 14px;
    border: none !important;
    outline: none !important;
    text-align: inherit;

    &::placeholder {
      color: var(--xh-input-placeholder-text-color);
    }
  }

  &:not(.xh-input-label) {
    font-size: 14px;
    border: var(--xh-border-solid);
    border-radius: var(--xh-border-radius-px);

    &:not(.xh-input-invalid):focus-within {
      border-color: var(--xh-focus-outline-color);
    }
  }

  &.xh-input-invalid {
    border: var(--xh-form-field-invalid-border);
  }

  &.xh-text-input,
  &.xh-number-input {
    .text-input,
    .text-input__label {
      height: 30px;
      padding: 0 var(--xh-pad-px);
    }
  }

  &.xh-textarea {
    display: flex;
    align-items: stretch;
    background-color: var(--xh-bg);

    textarea {
      flex: 1;
      padding: var(--xh-pad-px);
      box-sizing: border-box;
      background-color: transparent;
      color: var(--xh-text-color);
      resize: none;
    }
  }

  &.xh-check-box {
    border: none;
    :checked + .checkbox__checkmark:before {
      background-color: var(--xh-accent-color);
    }
  }

  &.xh-switch-input {
    border: none;
    height: 22px;

    .switch__toggle {
      width: 40px;
      background-color: var(--xh-border-color);
      box-shadow: inset 0 0 0 2px var(--xh-border-color);

      .switch__handle {
        height: 18px;
        width: 18px;
        box-shadow: none;
        left: 2px;
      }
    }

    :checked + .switch__toggle {
      background-color: var(--xh-accent-color);
      box-shadow: inset 0 0 0 2px var(--xh-accent-color);

      .switch__handle {
        left: 21px;
      }
    }
  }

  &.xh-button-group {
    border: none;
  }

  &.xh-input-label {
    font-size: var(--xh-font-size-small-px);
  }
}

.xh-tab {
  .xh-tab-icon {
    height: 28px;
    line-height: 26px;
    font-size: 24px;
  }

  .xh-tab-label:first-child {
    font-size: 16px;
  }

  .xh-tab-icon + .xh-tab-label {
    font-size: 10px;
    line-height: 1;
  }
}

.xh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  height: 28px;
}

body.xh-app .xh-button-group .xh-button {
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:not(.button--light):not(.button--outline) {
      margin-right: 1px;
    }
  }

  &:not(.button--outline):not(.button--quiet):not(.button--light) {
    background-color: var(--xh-border-color);
    &.xh-button-active {
      background-color: var(--xh-btn-color);
      opacity: 1;
    }
  }
  &.button--outline.xh-button-active {
    background-color: var(--xh-btn-color);
    color: white;
  }
  &.button--light.xh-button-active {
    background-color: var(--xh-bg-alt);
    color: var(--xh-text-color);
  }
  &.button--quiet.xh-button-active {
    background-color: var(--xh-bg-alt);
  }
}

.xh-page {
  .page__content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    transform: translateX(0);
    overflow-x: hidden;
  }

  .xh-page-no-scroll .page__content {
    overflow: hidden;
  }
}

.xh-grid .ag-body-viewport::-webkit-scrollbar {
  display: none;
}

//--------------------
// Onsen Overrides
//--------------------
.bottom-bar > .button {
  margin: 6px 4px;
  line-height: 26px;
}

.dialog {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}