
.xh-validation-errors {
  padding: var(--xh-pad-px);

  .xh-validation-error-msg {
    color: var(--xh-form-field-invalid-message-text-color);

    &:not(:last-child) {
      margin-bottom: var(--xh-pad-half-px);
    }
  }
}