.xh-treemap-splitter {
  background-color: var(--xh-resizable-bg);

  &.vertical {
    height: var(--xh-resizable-size-px);
    border-top: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
    border-bottom: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
  }

  &.horizontal {
    width: var(--xh-resizable-size-px);
    border-left: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
    border-right: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
  }
}
