.pt-navbar-heading {
    margin-left: 8px;
    font-size: 20px !important;
}

.pt-dialog-header {
    padding-left: 10px;
}

/* Header icon spacing */
.pt-dialog-header svg:first-child {
    margin-right: 5px;
}

.pt-dialog-close-button {
    padding-right: 10px;
}

/* Apply blueprint styling to non-blueprint icons within input groups */
.pt-input-group svg:not(.pt-icon) {
    position: absolute;
    top: 0;
    margin: 8px;
    font-size: 16px;
    z-index: 1;
}