.xh-dynamic-tab-switcher {
  &__tabs {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &__tab {
      &:not(&--active) {
        cursor: pointer;
      }

      &--dragging {
        background-color: var(--xh-menu-item-highlight-bg);
      }

      &__close-button {
        align-self: center;
        padding: 0 !important;
        margin-left: 3px;
        min-height: 15px;
        min-width: 15px;
        border-radius: 100% !important;
      }

      &:not(&:hover):not(&--dragging) &__close-button {
        visibility: hidden;
      }
    }
  }
}
