.xh-dynamic-tab-switcher {
  &:not(&--vertical) &__tabs {
    overflow-x: auto;

    .bp6-tab-list {
      column-gap: var(--xh-pad-double-px);
    }
  }

  &--vertical &__tabs {
    overflow-y: auto;
  }

  &__tabs {
    display: flex;
    flex-direction: row;

    &::-webkit-scrollbar {
      display: none;
    }

    &__tab {
      align-items: center;
      user-select: none;

      .xh-dynamic-tab-switcher--vertical & {
        min-height: fit-content;
        width: 100%;
      }

      &:not(&--active) {
        cursor: pointer;
      }

      &--dragging {
        background-color: var(--xh-menu-item-highlight-bg);
      }

      &__icon {
        margin-right: 3px;
      }

      &__close-button {
        align-self: center;
        padding: 0 !important;
        margin-left: 3px;
        min-height: 15px;
        min-width: 15px;
        border-radius: 100% !important;
      }
    }
  }
}
