/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2019 Extremely Heavy Industries Inc.
 */

.xh-admin-about-panel {
  padding: 0 0 0 var(--xh-pad-double-px);
  flex: 1;

  .svg-inline--fa {
    margin-right: 6px;
  }

  h1,
  h2 {
    font-weight: 300;
  }

  table {
    margin: var(--xh-pad-px);
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 500px;
    background-color: var(--xh-bg);
  }

  tr {
    border: var(--xh-border-solid);
  }

  th {
    padding: var(--xh-pad-half-px);
    background-color: var(--xh-bg-alt);
    width: 140px;
    text-align: right;
    vertical-align: top;
  }

  td {
    padding: var(--xh-pad-half-px);
  }

  &__blurb {
    margin: var(--xh-pad-px);
  }
}
