/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-admin-about-panel {
  flex: 1;
  overflow-y: auto;
  padding: 0 0 0 var(--xh-pad-double-px);

  .svg-inline--fa {
    margin-right: 6px;
  }

  h2 {
    font-weight: 300;
    margin-top: var(--xh-pad-double-px) !important;
  }

  table {
    background-color: var(--xh-bg);
    border-collapse: collapse;
    border-spacing: 0;
    margin: var(--xh-pad-px);

    tr {
      border: var(--xh-border-solid);
    }

    th {
      background-color: var(--xh-bg-alt);
      padding: var(--xh-pad-half-px);
      text-align: right;
      vertical-align: top;
      width: 180px;
    }

    td {
      max-width: 600px;
      min-width: 600px;
      padding: var(--xh-pad-half-px);
      overflow-wrap: break-word;
    }
  }

  &__blurb {
    align-items: center;
    padding: var(--xh-pad-px);

    .xh-corp-logo {
      margin-right: var(--xh-pad-double-px);
      width: 100px;
    }
  }
}
