.xh-menu {
  position: fixed;
  margin: 0 !important;
  z-index: 21;
  max-height: 90vh;

  &__title {
    padding: var(--xh-pad-half-px);
    color: var(--xh-appbar-title-color);
    font-size: var(--xh-font-size-small-px);
    text-align: center;
    background-color: var(--xh-appbar-bg);
    border-bottom: var(--xh-border-solid);
  }

  &__list {
    overflow-y: auto !important;
    border: var(--xh-menu-item-border);

    &__item {
      margin: 0;
      padding: 0 var(--xh-pad-double-px) 0 var(--xh-pad-px);
      font-size: var(--xh-menu-item-font-size-px);
      color: var(--xh-menu-item-text-color);
      background-color: var(--xh-menu-item-bg) !important;
      box-shadow: none !important;

      &:not(:last-child) {
        border-bottom: var(--xh-menu-item-border);
      }

      &--tapped {
        background-color: var(--xh-menu-item-pressed-bg) !important;
      }

      & > div {
        padding: var(--xh-pad-half-px) 0;
        min-height: var(--xh-menu-item-height-px);
      }
    }
  }
}
