.xh-menu {
  position: fixed;
  overflow-y: auto !important;
  margin: 0 !important;
  z-index: 21;

  &__list {
    background-color: var(--xh-bg);
    border: var(--xh-border-solid);

    .list-item {
      padding: 0 var(--xh-pad-px);
      background-color: var(--xh-grid-bg) !important;

      &__center {
        padding: var(--xh-pad-half-px) 0;
      }
    }
  }
}
