/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

.xh-filter-chooser-option {
  padding: 0 var(--xh-pad-px);

  .name {
    margin-right: var(--xh-pad-half-px);
    color: var(--xh-intent-primary);
  }

  .operator {
    margin-right: var(--xh-pad-half-px);
    color: var(--xh-text-color-muted);
    font-weight: bold;
  }

  .value {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}