.xh-form-field {
  display: flex;
  flex-direction: column;

  .xh-form-field-label {
    padding: 0 0 3px;
  }

  .xh-form-field-fill {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .xh-form-field-info,
  .xh-form-field-error-msg,
  .xh-form-field-pending-msg {
    font-size: var(--xh-font-size-small-px);
    line-height: calc(var(--xh-font-size-small-px) + var(--xh-pad-px));
    color: var(--xh-text-color-muted);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .xh-form-field-error-msg {
    color: var(--xh-red);
  }

  &.xh-form-field-invalid .xh-form-field-label {
    color: var(--xh-red);
  }

  &.xh-form-field-readonly {
    .xh-form-field-error-msg {
      display: none;
    }

    .xh-form-field-readonly-display {
      padding: var(--xh-pad-px) 0;
    }
  }
}
