.xh-form-field {
  display: flex;
  flex-direction: column;

  &__label {
    padding: 0 0 3px;
  }

  &__inner {
    // Used for unsizeable children
    &--block {
      display: block;
    }

    // Used for sizeable children that should fill the FormField
    &--flex {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__info-msg,
  &__validation-msg {
    font-size: var(--xh-font-size-small-px);
    line-height: calc(var(--xh-font-size-small-px) + var(--xh-pad-px));
    color: var(--xh-text-color-muted);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__validation-msg {
    &--error {
      color: var(--xh-form-field-invalid-color);
    }

    &--info {
      color: var(--xh-form-field-info-color);
    }

    &--warning {
      color: var(--xh-form-field-warning-color);
    }
  }

  &--invalid .xh-form-field__label {
    color: var(--xh-form-field-invalid-color);
  }

  &--warning .xh-form-field__label {
    color: var(--xh-form-field-warning-color);
  }

  &--info .xh-form-field__label {
    color: var(--xh-form-field-info-color);
  }

  &.xh-form-field--readonly {
    .xh-form-field__validation-msg {
      display: none;
    }

    .xh-form-field__readonly-display {
      padding: var(--xh-pad-px) 0;
    }
  }
}
