.xh-toolbox-icons-panel {
  .xh-toolbox-example-container {
    .header {
      min-height: 20px;
      justify-content: space-between;
      padding-right: 10px;
      background-color: var(--xh-bg-alt);
      div {
        display: flex;
        flex: 1;
        justify-content: center;
        border-left: 1px solid var(--xh-bg);
        text-transform: uppercase;
        font-weight: bold;
        &:first-child {
          border-left: none;
        }
      }
    }
    > div:not(.header) {
      border: 1px solid var(--xh-border-color);
      border-top: none;
      .row {
        min-height: 40px;
        justify-content: space-between;
        &:nth-child(odd) {
          background-color: var(--xh-grid-bg-odd);
        }
        &:nth-child(even) {
          background-color: var(--xh-grid-bg);
        }
        div {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}