/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2019 Extremely Heavy Industries Inc.
 */


#xh-dialog-root {
    .xh-dialog-root__content {
        box-shadow: var(--xh-dialog-box-shadow);
        border: var(--xh-border-solid);

        > .xh-panel > .xh-panel-header {
            padding-right: 0px;
        }
    }

    .react-draggable {
        background-color: var(--xh-bg-alt);
        box-shadow: var(--xh-dialog-box-shadow);
        border: var(--xh-border-solid);

        .react-draggable__container {
            z-index: 1;
            width: 100%;
            height: 100%;
            > .xh-panel > .xh-panel-header {
                .xh-panel-header__title {
                    cursor: move;
                }
            }

            // overwrite Blueprint's transform: translateZ(0);
            // which causes jank when inside a component
            // with overflow: hidden (such as the Hoist Box component)
            // that itself is inside the react-draggable that also has transform applied to it when dragging.
            //
            // translateZ(0) is brought into css by `new-render-layer`
            // https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/forms/_control-group.scss#L48
            // which is a mixin defined here:
            // https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/_mixins.scss#L100
            // Blueprint's long explanation for using this seems to make it ok to remove just when in
            // in a draggable dialog.
            .bp3-control-group {
                transform: none !important;
                .bp3-button {
                    transform: none !important;
                }
            }

        }
    }


    .xh-dialog-root__fixed {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        background-color: rgba(16, 22, 26, 0.7);
        overflow: auto;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


