// same styles for activity detail once it gets built
.xh-admin-error-detail {
  padding: 5px 20px;
  width: 200px;

  th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    padding: 0 20px 5px 0;
  }

  td {
    padding-bottom: 5px;
  }

}