/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-input {
  // Override browser user agent styles on input elements.
  input {
    font-family: var(--xh-input-font-family);
    font-feature-settings: var(--xh-input-font-feature-settings);
  }

  &.xh-input--invalid {
    input {
      border: var(--xh-form-field-invalid-border);
    }
  }

  &.xh-input--warning {
    input {
      border: var(--xh-form-field-warning-border);
    }
  }

  &.xh-input--info {
    input {
      border: var(--xh-form-field-info-border);
    }
  }
}
