/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

:not(.bp3-dark) .xh-button-group .xh-button.bp3-active {
  background-color: var(--xh-button-active-bg);
  color: var(--xh-button-active-text-color);
}

.bp3-dark .xh-button-group .xh-button.bp3-active {
  background-color: var(--xh-button-active-bg);
  color: var(--xh-button-active-text-color);
}

:not(.bp3-dark) .xh-button-group .xh-button:not(.bp3-active) {
  background-color: var(--xh-button-inactive-bg);
  color: var(--xh-button-inactive-text-color);
}

.bp3-dark .xh-button-group .xh-button:not(.bp3-active) {
  background-color: var(--xh-button-inactive-bg);
  color: var(--xh-button-inactive-text-color);
}
