.xh-toolbar {
  padding: var(--xh-pad-half-px) var(--xh-pad-px) var(--xh-pad-half-px) 0;
  background-color: var(--xh-tbar-bg-color);
  width: 100%;
  flex: none;
  align-items: center;
  flex-wrap: nowrap;

  > * {
    white-space: nowrap;
    flex-shrink: 0;

    &:not([class*='xh-no-pad']) {
      margin-left: var(--xh-pad-px);
    }
  }

  &[vertical='true'] {
    flex-direction: column !important;
    justify-content: center;

    > *:not([class*='xh-no-pad']) {
      margin-top: var(--xh-pad-px);
    }
  }

  &__separator {
    color: var(--xh-text-color-muted);
  }
}