.xh-dim-chooser {
  .xh-dim-popover {
    .xh-button {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline;
    }
  }

  .xh-button {
    border: var(--xh-border-solid);
  }
}
.xh-dim-add-popover {
  .xh-dim-popover-selects {
    padding: 3px 0;
    .xh-dim-popover-row {
      margin-bottom: 2px;
      button {
        padding: 0;
      }
    }
  }
}

.xh-dim-history-popover {
  .xh-dim-history-items {
    padding: 3px 0;
    button {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline;
    }
  }
}
