.xh-dim-chooser {
  display: flex;
  .xh-dim-popover {
    .xh-button {
      //border-top-right-radius: 0;
      //border-bottom-right-radius: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline;
    }
  }

  .xh-dim-options {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: 2px 5px;
  }

}

.xh-dim-add-popover {

  .xh-dim-popover-selects {

    padding: 3px 0 3px 3px;
    .xh-dim-popover-row {
      margin-bottom: 2px;
      button {
        padding: 0;
      }
    }
    .xh-dim-popover-add-dim {
      margin-right: 30px;
    }
  }
}

.xh-dim-history-popover {
  background-color: var(--xh-bg);
  .xh-dim-history-items {

    padding: 3px 0;
    button {
      justify-content: left;
      box-shadow: var(--xh-form-field-box-shadow);

      &:nth-child(even) {
      }
    }
  }
}

