.xh-dim-chooser {
  display: flex;
  .xh-dim-popover {
    .xh-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline;
    }
  }

  .xh-dim-options {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: 2px 5px;
  }

}

.xh-dim-popover-items, .xh-dim-opts-popover-items, .xh-dim-history-items {
  button {
    justify-content: left;
  }
  .xh-dim-opts-history {
    justify-content: space-between;
  }

  .xh-dim-not-selected {
    opacity: 0.6;
  }
}