.xh-login {
  border: var(--xh-border-solid);
  border-radius: var(--xh-border-radius-px);

  .pt-input-group {
    margin: 0 var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
  }

  &__warning {
    color: var(--xh-red);
    margin-bottom: var(--xh-pad-px);
    text-align: center;
  }

  .xh-login-message {
    background-color: var(--xh-bg-alt);
    margin: 0 var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
    padding: 0 var(--xh-pad-px);
    line-height: var(--xh-title-height-px);
    border-radius: var(--xh-border-radius-px);
  }
}

