.xh-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--xh-button-font-size-px);

  // TODO - avoid hard-coding these.
  line-height: 20px;
  height: 28px;
}
