/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2019 Extremely Heavy Industries Inc.
 */

$action-col-pad: 5;
$action-col-pad-px: $action-col-pad * 1px;

// This CSS-modules export makes this value accessible from JS -note the import in Actions.js.
//noinspection CssInvalidPseudoSelector
:export {
  /* stylelint-disable-next-line property-case */
  actionColPad: $action-col-pad;
}

.xh-action-col-cell {
  &.ag-cell {
    padding: 0 $action-col-pad-px;
  }

  .xh-show-on-hover {
    .xh-record-action-button {
      visibility: hidden;
    }
  }

  // Keep the buttons in the action column a consistent size so we can calc the column width
  button.xh-record-action-button {
    max-width: 24px;
  }
}

// Tighten up buttons in compact grids to avoid clipping/overflow.
.xh-ag-grid--compact {
  .xh-action-col-cell {
    button.xh-record-action-button {
      padding-top: 4px;
      min-height: unset;

      svg.svg-inline--fa {
        width: 0.9em;
      }
    }
  }
}

.ag-row.ag-row-hover {
  .xh-action-col-cell {
    .xh-show-on-hover {
      .xh-record-action-button {
        visibility: visible;
      }
    }
  }
}
