/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */

.xh-admin-activity-panel {
  .xh-toolbar .xh-form-field {
    margin: 0 0 0 var(--xh-tbar-item-pad-px);

    .xh-form-field-label {
      min-width: 0 !important;
      margin-right: 6px;
    }
  }

  &__metric-switcher {
    .xh-button {
      text-align: center;
    }
  }

  &__max-rows-alert {
    background-color: var(--xh-intent-warning);
    color: white;
    padding: var(--xh-pad-half-px);
    text-align: center;

    .xh-icon {
      margin-right: var(--xh-pad-half-px);
    }
  }

  &__data-fields-editor {
    width: 50vw;
    min-width: 700px;
    max-width: 1000px;
    min-height: 200px;

    &__row {
      align-items: flex-start;
      flex: none;
      margin-left: 5px;
      margin-right: 5px;

      &:first-child {
        margin-top: 5px;
      }
    }
  }
}

.xh-admin-activity-detail {
  &__form {
    overflow-y: auto;

    .xh-form-field {
      margin: 0;
      padding: 2px var(--xh-pad-px);

      &.xh-form-field-readonly .xh-form-field-readonly-display {
        padding: var(--xh-pad-half-px);
      }

      &:nth-child(odd) {
        background-color: var(--xh-grid-bg-odd);
      }
    }

    .xh-form-field-label {
      font-size: var(--xh-font-size-small-px);
      padding: 0;
    }
  }

  h3 {
    color: var(--xh-text-color-headings);
    background-color: var(--xh-blue-gray-light);
    margin: 0 !important;
    font-size: var(--xh-font-size-px);
    font-weight: normal;
    padding: var(--xh-pad-half-px) !important;
    border-bottom: var(--xh-border-solid);

    &:not(:first-child) {
      border-top: var(--xh-border-solid);
    }

    .xh-dark & {
      background-color: var(--xh-blue-gray-dark);
    }

    .xh-icon {
      margin-right: var(--xh-pad-px);
    }
  }
}
