.xh-menu {
  position: fixed !important;
  overflow-y: auto !important;
  z-index: 21;
  bottom: var(--xh-pad-half-px);

  &__list {
    background-color: var(--xh-bg);
    border: var(--xh-border-solid);

    .list-item {
      background-color: var(--xh-grid-bg) !important;
    }
  }
}
