//------------------------
// NavBar
//------------------------
.bp3-navbar, .bp3-dark .bp3-navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--xh-navbar-color);
  background-color: var(--xh-navbar-bg);
  height: var(--xh-navbar-height-px);
  border-bottom: 1px solid var(--xh-navbar-border-color);

  // Curiously, Admin Log Viewer would cause navbar to shrink without min-height
  min-height: var(--xh-navbar-height-px);

  > * {
    white-space: nowrap;
    flex-shrink: 0;
  }

  .bp3-navbar-heading {
    color: var(--xh-navbar-title-color);
    font-size: var(--xh-navbar-title-font-size-px);
    margin-left: var(--xh-pad-px);
  }

  .bp3-navbar-group {
    height: var(--xh-navbar-height-px);

    // Replace default float behaviour in favour of flexbox
    float: none;

    > .svg-inline--fa {
      margin: 0 5px 0 0;
    }

    &.bp3-align-left {
      // Flex simulates left alignment
      flex: 1;

      // Primary app icon
      svg:first-child {
        color: var(--xh-navbar-title-color);
      }
    }

    &.bp3-align-right {
      > * {
        margin-left: var(--xh-pad-half-px);
      }
      .bp3-navbar-divider {
        margin-right: 0;
      }
    }
  }
}


//------------------------
// Tabs
//------------------------
.bp3-tab-panel > div {
  margin: 0 !important;  // TODO - investigate this....
}

.bp3-tabs:not(.bp3-vertical) > .bp3-tab-list {
  padding-left: var(--xh-pad-px);
}


//------------------------
// Dialog + Masking
//------------------------
.bp3-dialog {
  padding-bottom: 0;
  border-radius: var(--xh-border-radius-px);
  border: var(--xh-popup-border-width-px) solid var(--xh-popup-border-color);

  .bp3-dialog-header {
    color: var(--xh-popup-title-text-color);
    background-color: var(--xh-popup-title-bg);
    font-size: var(--xh-popup-title-font-size-px);
    padding-left: var(--xh-pad-px);
    border-top-right-radius: var(--xh-border-radius-px);
    border-top-left-radius: var(--xh-border-radius-px);

    .bp3-heading, .bp3-icon {
      color: var(--xh-popup-title-text-color);
    }

    svg:first-child {
      margin-right: var(--xh-pad-px);
    }
  }
}

.bp3-dialog-container {
  background-color: var(--xh-mask-bg);
}

.bp3-dark .bp3-menu, .bp3-menu {
  background-color: var(--xh-bg-alt);
}


//------------------------
// Buttons
//------------------------
.bp3-button {
  border-radius: var(--xh-border-radius-px);
  font-size: var(--xh-button-font-size-px);
  white-space: nowrap;

  &:not([class*="bp3-intent-"]) {
    color: var(--xh-button-text-color);
    .bp3-dark & {
      color: var(--xh-button-text-color);
    }
  }

  &.bp3-disabled {
    opacity: 0.6;
  }

  &:not(.bp3-minimal) {
    &.bp3-intent-primary {
      background-color: var(--xh-intent-primary);
    }
    &.bp3-intent-danger {
      background-color: var(--xh-intent-danger);
    }
    &.bp3-intent-success {
      background-color: var(--xh-intent-success);
    }
    &.bp3-intent-warning {
      background-color: var(--xh-intent-warning);
    }
  }
}

//------------------------
// Toasts
//------------------------
.bp3-toast {
  padding-left: 5px;

  &.bp3-intent-primary {
    background-color: var(--xh-intent-primary);
  }
  &.bp3-intent-danger {
    background-color: var(--xh-intent-danger);
  }
  &.bp3-intent-success {
    background-color: var(--xh-intent-success);
  }
  &.bp3-intent-warning {
    background-color: var(--xh-intent-warning);
  }
}

//------------------------
// Forms + Inputs
//------------------------
.bp3-input {
  font-size: var(--xh-font-size);
}

/* Apply blueprint styling to non-blueprint icons within input groups */
.bp3-input-group svg:not(.bp3-icon) {
  position: absolute;
  top: 0;
  margin: var(--xh-pad-px);
  font-size: var(--xh-font-size);
  z-index: 1;
}

.bp3-select-popover .bp3-popover-content {
  padding: 0px !important;
}
