@import '~@blueprintjs/core/src/common/react-transition';

//------------------------
// NavBar
//------------------------
.bp4-navbar,
.bp4-dark .bp4-navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--xh-navbar-color);
  background-color: var(--xh-navbar-bg);
  height: var(--xh-navbar-height-px);
  border-bottom: 1px solid var(--xh-navbar-border-color);
  padding: 0 var(--xh-pad-px);

  // Curiously, Admin Log Viewer would cause navbar to shrink without min-height
  min-height: var(--xh-navbar-height-px);

  .bp4-navbar-divider {
    border-left-color: var(--xh-tbar-separator-color);
  }

  > * {
    white-space: nowrap;
    flex-shrink: 0;
  }

  .bp4-navbar-heading {
    color: var(--xh-navbar-title-color);
    font-size: var(--xh-navbar-title-font-size-px);
    margin-left: var(--xh-pad-px);
  }

  .bp4-navbar-group {
    overflow: hidden;
    height: var(--xh-navbar-height-px);

    .bp4-navbar-divider {
      margin: 0 var(--xh-pad-px);
    }

    // Replace default float behaviour in favour of flexbox
    float: none;

    > .svg-inline--fa {
      margin: 0 5px 0 0;
    }

    &.bp4-align-left {
      // Flex simulates left alignment
      flex: 1;

      // Primary app icon
      > svg:first-child {
        color: var(--xh-navbar-title-color);
      }
    }

    &.bp4-align-right {
      // Apply standardized spacing to extra navBar items, excepting dividers and xh-no-pad elements.
      > *:not(.bp4-navbar-divider):not(.xh-no-pad) {
        margin-left: var(--xh-pad-px);
      }

      .bp4-navbar-divider {
        margin-right: 0;
      }
    }
  }
}

//------------------------
// Tabs
//------------------------
.bp4-tab-panel > div {
  margin: 0 !important;  // TODO - investigate this....
}

.bp4-tab > svg:first-child {
  margin-right: var(--xh-pad-half-px);
}

// Vertical tab lists fill their width
.bp4-tabs.bp4-vertical .bp4-tab-list {
  flex: 1;
}

//------------------------
// Dialogs, Popovers, Masking
//------------------------
.bp4-dialog {
  padding-bottom: 0;
  border-radius: var(--xh-border-radius-px);
  border: var(--xh-popup-border-width-px) solid var(--xh-popup-border-color);

  .bp4-dialog-header {
    color: var(--xh-popup-title-text-color);
    background-color: var(--xh-popup-title-bg);
    font-family: var(--xh-popup-title-font-family);
    font-size: var(--xh-popup-title-font-size-px);
    padding-left: var(--xh-pad-px);
    border-top-right-radius: var(--xh-border-radius-px);
    border-top-left-radius: var(--xh-border-radius-px);

    .bp4-heading,
    .bp4-icon {
      color: var(--xh-popup-title-text-color);
    }

    > svg:first-child {
      margin-right: var(--xh-pad-px);
    }
  }

  .bp4-dialog-body {
    word-break: break-word;
  }
}

.bp4-dialog-container {
  background-color: var(--xh-mask-bg);
}

// Squelch popover scale transition - unlike Dialog with its `transitionName` prop, Popover
// does not appear to provide a way to turn off its transition without also losing the (often
// desirable) arrow pointing to its target. Variables below required for the include to function.
$pt-transition-ease: cubic-bezier(0.4, 1, 0.75, 0.9) !default;
$pt-transition-ease-bounce: cubic-bezier(0.54, 1.12, 0.38, 1.11) !default;
$pt-transition-duration: 100ms !default;

// This override is taken from the popover source SCSS - there it is scoped under the minimal class.
// https://github.com/palantir/blueprint/blob/1bfd1e42303d2626bfc3923eec2195ab4dc696d2/packages/core/src/components/popover/_popover.scss#L54
.bp4-popover {
  @include react-transition(
    "bp3-popover",
    (transform: scale(1) scale(1)),
    $duration: 0,
    $after: "> &"
  );
}

//------------------------
// Menus
//------------------------
.bp4-dark .bp4-menu,
.bp4-menu {
  background-color: var(--xh-bg-alt);
}

// Default of flex-start leaves Hoist icons shifted up - could target
// more specifically if this is a problem in any other contexts.
.bp4-menu-item {
  align-items: center;
}

//------------------------
// Buttons
//------------------------
// See desktop/cmp/button/Button.scss for button styles.
// Rule below applies only to buttons within BP inputs to disable default hover background-color
// (which looks weird) and instead tweak the icon color to indicate it's active.
.xh-app .xh-input .bp4-input-group .xh-button {
  &.xh-button--minimal,
  &.xh-button--outlined {
    &.xh-button--enabled {
      &:hover {
        background-color: unset !important;
        svg {
          color: var(--xh-button-text-color) !important;
        }
      }
    }
  }
}

//------------------------
// Toasts
//------------------------
.bp4-toast {
  padding-left: 5px;

  &.bp4-intent-primary {
    background-color: var(--xh-intent-primary);
  }

  &.bp4-intent-danger {
    background-color: var(--xh-intent-danger);
  }

  &.bp4-intent-success {
    background-color: var(--xh-intent-success);
  }

  &.bp4-intent-warning {
    background-color: var(--xh-intent-warning);
  }

  .bp4-toast-message {
    word-break: break-word;
  }
}

//------------------------
// Tooltips
//------------------------
.bp4-tooltip {
  &.bp4-intent-primary {
    .bp4-popover-content {
      background-color: var(--xh-intent-primary);
    }

    .bp4-popover-arrow-fill {
      fill: var(--xh-intent-primary);
    }
  }

  &.bp4-intent-danger {
    .bp4-popover-content {
      background-color: var(--xh-intent-danger);
    }

    .bp4-popover-arrow-fill {
      fill: var(--xh-intent-danger);
    }
  }

  &.bp4-intent-success {
    .bp4-popover-content {
      background-color: var(--xh-intent-success);
    }

    .bp4-popover-arrow-fill {
      fill: var(--xh-intent-success);
    }
  }

  &.bp4-intent-warning {
    .bp4-popover-content {
      background-color: var(--xh-intent-warning);
    }

    .bp4-popover-arrow-fill {
      fill: var(--xh-intent-warning);
    }
  }
}

//------------------------
// Forms + Inputs
//------------------------
.bp4-input,
.bp4-dark .bp4-input,
textarea.bp4-input,
.bp4-dark textarea.bp4-input,
.bp4-input-ghost {
  color: var(--xh-input-text-color);
  background: var(--xh-input-bg);
  font-size: var(--xh-font-size);

  &::placeholder {
    color: var(--xh-input-placeholder-text-color);
    opacity: 1;
  }

  // Use Hoist theme vars for disabled input styles.
  &.bp4-disabled,
  &:disabled {
    background-color: var(--xh-input-disabled-bg);
    color: var(--xh-input-disabled-text-color);
  }
}

// Expose CSS var for box-shadow tweaking
.bp4-input:not(.bp4-active):not(:focus) {
  box-shadow: var(--xh-form-field-box-shadow);
}

.bp4-control,
.bp4-dark .bp4-control {
  input:focus ~ .bp4-control-indicator {
    outline: var(--xh-form-field-focused-border-color) solid 1px !important;
    outline-offset: 1px;
  }
}

.bp4-slider-handle:focus {
  outline: unset;  // override browser default styles
  box-shadow: var(--xh-slider-handle-focused-box-shadow);
}

.bp4-input:focus,
.bp4-dark .bp4-input:focus,
.bp4-dark textarea.bp4-input:focus {
  box-shadow: var(--xh-form-field-focused-box-shadow);
}

// Override Blueprint textarea and switch input dark theme
.bp4-dark textarea.bp4-input {
  box-shadow: var(--xh-form-field-box-shadow);
}

.bp4-dark .bp4-control.bp4-switch input ~ .bp4-control-indicator {
  box-shadow: var(--xh-form-field-box-shadow) !important;
}

.bp4-dark .bp4-control.bp4-switch:hover input ~ .bp4-control-indicator {
  background-color: #202b33;
}

/* Apply blueprint styling to non-blueprint icons within input groups */
.bp4-input-group {
  .xh-icon {
    position: absolute;
    top: 0;
    line-height: 1;
    font-size: var(--xh-font-size-large-px);
    font-weight: 400;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    margin: 7px;
    color: var(--xh-text-color-muted);
  }

  // Support direct use of a Hoist Icon as input `rightElement` prop - w/o the below, the icon SVG
  // will not be measured (clientWidth == 0) and the input's internal layout won't account for it.
  .bp4-input-action > .xh-icon {
    position: relative;
    display: block;
  }

  .bp4-button-group {
    margin-right: 3px;

    .bp4-button {
      margin-right: 0;
      margin-left: 0;
    }

    .xh-icon {
      margin-top: 4px;
    }
  }
}

/* Apply blueprint's z-index of 16 for icons within a control group */
.bp4-control-group .bp4-input-group svg:not(.bp4-icon) {
  z-index: 16;
}

// Controls ship with default bottom and (inline) right margins. We expose variables
// to customize and default those to 0 to avoid adding margins by default.
// Hoist theme text-color applied to elements not styled with a more specific selector.
.bp4-control {
  color: var(--xh-text-color);
  margin-bottom: var(--xh-form-field-margin-bottom);

  &.bp4-inline {
    margin-right: var(--xh-form-field-margin-right);
  }
}
