.pt-dark, .pt-dark h1, .pt-dark h2, .pt-dark h3, .pt-dark h4, .pt-dark h5 {
    color: var(--xh-text-color);
}

.pt-navbar, .pt-dark .pt-navbar {
    color: var(--xh-navbar-color);
    background-color: var(--xh-navbar-bg-color);
}

.pt-navbar-heading {
    margin-left: 8px;
    font-size: 20px !important;
}

.pt-dialog-header {
    padding-left: 10px;
}

/* Header icon spacing */
.pt-dialog-header svg:first-child {
    margin-right: 5px;
}

.pt-dialog-close-button {
    padding-right: 10px;
}

/* Apply blueprint styling to non-blueprint icons within input groups */
.pt-input-group svg:not(.pt-icon) {
    position: absolute;
    top: 0;
    margin: 8px;
    font-size: 16px;
    z-index: 1;
}