//------------------------
// NavBar
//------------------------
.pt-navbar, .pt-dark .pt-navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--xh-navbar-color);
  background-color: var(--xh-navbar-bg);
  height: var(--xh-navbar-height-px);
  border-bottom: 1px solid var(--xh-navbar-border-color);

  // Curiously, Admin Log Viewer would cause navbar to shrink without min-height
  min-height: var(--xh-navbar-height-px);

  > * {
    white-space: nowrap;
    flex-shrink: 0;
  }

  .pt-navbar-heading {
    color: var(--xh-navbar-title-color);
    font-size: var(--xh-navbar-title-font-size-px);
    margin-left: var(--xh-pad-px);
  }

  .pt-navbar-group {
    height: var(--xh-navbar-height-px);

    // Replace default float behaviour in favour of flexbox
    float: none;

    &.pt-align-left {
      // Flex simulates left alignment
      flex: 1;

      // Primary app icon
      svg:first-child {
        color: var(--xh-navbar-title-color);
      }
    }

    &.pt-align-right {
      > * {
        margin-left: var(--xh-pad-half-px);
      }
    }
  }
}


//------------------------
// Tabs
//------------------------
.pt-tab-panel > div {
  margin: 0 !important;  // TODO - investigate this....
}

.pt-tabs:not(.pt-vertical) > .pt-tab-list {
  padding-left: var(--xh-pad-px);
}


//------------------------
// Dialog + Masking
//------------------------
.pt-dialog {
  padding-bottom: 0;
  border-radius: var(--xh-border-radius-px);
  border: var(--xh-popup-border-width-px) solid var(--xh-popup-border-color);

  .pt-dialog-header {
    color: var(--xh-popup-title-text-color);
    background-color: var(--xh-popup-title-bg);
    font-size: var(--xh-popup-title-font-size-px);
    padding-left: var(--xh-pad-px);
    border-top-right-radius: var(--xh-border-radius-px);
    border-top-left-radius: var(--xh-border-radius-px);

    .pt-dialog-header-title {
      color: var(--xh-popup-title-text-color);
    }

    svg:first-child {
      margin-right: var(--xh-pad-px);
    }
  }
}

.pt-dialog-container {
  background-color: var(--xh-mask-bg);
}

.pt-dark .pt-menu, .pt-menu {
  background-color: var(--xh-bg-alt);
}


//------------------------
// Buttons
//------------------------
.pt-button {
  border-radius: var(--xh-border-radius-px);
  font-size: var(--xh-button-font-size-px);
  white-space: nowrap;

  &:not([class*="pt-intent-"]) {
    color: var(--xh-button-text-color);
    .pt-dark & {
      color: var(--xh-button-text-color);
    }
  }

  &.pt-intent-primary {
    background-color: var(--xh-blue);
    &:disabled {
      background-color: var(--xh-blue-muted);
    }
  }

  &.pt-intent-danger {
    background-color: var(--xh-red);
    &:disabled {
      background-color: var(--xh-red-muted);
    }
  }

  &.pt-intent-success {
    background-color: var(--xh-green);
    &:disabled {
      background-color: var(--xh-green-muted);
    }
  }

  &.pt-intent-warning {
    background-color: var(--xh-orange);
    &:disabled {
      background-color: var(--xh-orange-muted);
    }
  }
}

//------------------------
// Forms + Inputs
//------------------------
.pt-input {
  font-size: var(--xh-font-size);
}

/* Apply blueprint styling to non-blueprint icons within input groups */
.pt-input-group svg:not(.pt-icon) {
  position: absolute;
  top: 0;
  margin: var(--xh-pad-px);
  font-size: var(--xh-font-size);
  z-index: 1;
}