.xh-text-input {
  background: var(--xh-input-bg);

  .text-input,
  .text-input__label {
    height: var(--xh-input-height);
    padding: 0 var(--xh-spacing);
  }

  &__input {
    flex: 1;
  }

  &__left-icon {
    display: flex;
    align-items: center;
    padding-left: var(--xh-spacing);
    color: var(--xh-text-color-muted);
  }

  &__clear-button {
    padding-right: 8px;
    padding-left: 0;
    color: var(--xh-text-color-muted) !important;
  }
}
