.xh-input.xh-text-input {
  background: var(--xh-input-bg);
  .text-input,
  .text-input__label {
    height: 30px;
    padding: 0 var(--xh-pad-px);
  }

  ons-input {
    flex: 1;
  }

  .clear-button {
    color: var(--xh-text-color-muted);
    padding-right: 8px;
    padding-left: 0;
  }
}

