.xh-input.xh-textarea {
  display: flex;
  align-items: stretch;
  background-color: var(--xh-bg);

  textarea {
    flex: 1;
    padding: var(--xh-pad-px);
    box-sizing: border-box;
    background-color: transparent;
    color: var(--xh-text-color);
    resize: none;
  }
}
