.xh-text-input {
  background: var(--xh-input-bg);

  .text-input,
  .text-input__label {
    height: 34px;
    padding: 0 var(--xh-pad-px);
  }

  &__input {
    flex: 1;
  }

  &__clear-button {
    padding-right: 8px;
    padding-left: 0;
    color: var(--xh-text-color-muted) !important;
  }
}
