.xh-print-support {
  &__printing {
    // Centers the grid when printing,
    // even though ag-grid styles it with inline-block.
    // This prevents the rows from taking up the full width of the page when printing,
    // which would happen if the centering with 'block' were used.
    .ag-root-wrapper.ag-layout-print {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
