.rest-form h1 {
    font-size: 12px;
}

.rest-form input[type="textarea"] {
    height: 50px;
}

.rest-form-dropdown {
    padding: .67857143em 1em;
    border: 1px solid rgba(34,36,38,.15);
}

.rest-toolbar .ui.button {
    color: #182026;
    background: white;
}