.xh-dialog {
  position: fixed;

  & > .dialog {
    max-width: calc(100% - var(--xh-pad-double-px));
  }

  &__title {
    display: flex;
    align-items: center;
    padding: var(--xh-pad-px);
    color: var(--xh-title-text-color);
    border-bottom: var(--xh-border-solid);
    background-color: var(--xh-title-bg);
    font-size: 14px;

    svg {
      margin-right: var(--xh-pad-px);
    }
  }

  &__inner {
    padding: var(--xh-pad-px);
    background-color: var(--xh-bg);
  }

  &__toolbar {
    display: flex;
    padding: var(--xh-pad-px);
    border-top: var(--xh-border-solid);
    background-color: var(--xh-bg-alt);

    .xh-button:not(:last-of-type) {
      margin-right: var(--xh-pad-px);
    }
  }
}