.xh-dialog {
  position: fixed;

  & > .dialog {
    max-width: calc(100% - var(--xh-pad-double-px));

    & > .dialog-container {
      // Background on inner onsen container deliberately set to *border* color - this avoids small
      // but noticeable gaps around the edges. The dialog body gets a defined background below for
      // the actual contents of the component.
      background-color: var(--xh-popup-border-color);
      border: var(--xh-popup-border-width-px) solid var(--xh-popup-border-color);
    }
  }

  &__title {
    align-items: center;
    background-color: var(--xh-popup-title-bg);
    color: var(--xh-popup-title-text-color);
    display: flex;
    font-size: var(--xh-popup-title-font-size-px);
    padding: var(--xh-pad-px);

    svg {
      margin-right: var(--xh-pad-px);
    }
  }

  &__inner {
    padding: var(--xh-pad-px);
    background-color: var(--xh-bg);
  }

  &__toolbar {
    display: flex;
    padding: var(--xh-pad-half-px) var(--xh-pad-px);
    border-top: 1px solid var(--xh-tbar-border-color);
    background-color: var(--xh-tbar-bg);

    .xh-button:not(:last-of-type) {
      margin-right: var(--xh-pad-px);
    }
  }
}
