.xh-mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .xh-mask-body {
    background-color: var(--xh-loadmask-bg);
    border-radius: var(--xh-border-radius-px);
    padding: 10px;
    .xh-mask-text {
      padding-top: 5px;
    }
  }
}