.xh-admin-about-panel th {
  background-color: #106ba3;
  color: white;
  width: 150px;
  padding: 8px;
  text-align: left;
}

.xh-admin-about-panel td {
  padding: 8px;
  text-align: right;
  width: 200px;
}