.xh-admin-app-frame {
  .pt-tabs.pt-vertical > .pt-tab-list {
    min-width: 130px;
    background-color: var(--xh-bg-alt);
    border-right: var(--xh-border-solid);
  }

  > .pt-tabs > .pt-tab-panel {
    border-top: var(--xh-border-solid);
  }

}

.xh-admin-activity-detail, .xh-admin-error-detail {
  padding: var(--xh-pad-half-px) var(--xh-pad-double-px);
  width: 600px;

  th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    padding: 0 var(--xh-pad-double-px) var(--xh-pad-half-px) 0;
  }

  td {
    padding-bottom: var(--xh-pad-half-px);
  }

}

.pt-select-popover .pt-popover-content {
  padding: 0px !important;
}
