/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */

.xh-admin-app {
  .xh-tab-switcher--left,
  .xh-tab-switcher--right {
    min-width: 160px;
    background-color: var(--xh-grid-bg-odd);
    border-right: var(--xh-border-solid);

    .bp5-tab {
      border-radius: 0 !important;
    }

    .xh-tab-switcher__tab {
      line-height: 40px;
    }
  }

  &__editor-dialog {
    height: 80vh;
    width: 80vw;
  }

  .xh-badge-col {
    --xh-badge-font-size: 0.9em;
    background-color: var(--xh-intent-primary-darker);
    font-family: var(--xh-font-family-mono);
  }
}

.xh-units-label {
  font-size: var(--xh-font-size-small-px);
}
