/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2021 Extremely Heavy Industries Inc.
 */

.xh-admin-app-frame {
  .xh-tab-switcher--left,
  .xh-tab-switcher--right {
    min-width: 130px;
    background-color: var(--xh-bg-alt);
    border-right: var(--xh-border-solid);
  }
}
