/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */
$size: 36px;
$half-size: 18px;

.xh-swiper-indicator {
  margin: -$half-size 0 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  color: var(--xh-appbar-color);
  background-color: var(--xh-appbar-bg);
  border: 1px solid var(--xh-appbar-border-color);
  border-radius: $half-size;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 21;
  transition:
    color 200ms ease,
    background-color 200ms ease;

  &--complete {
    color: white;
    background-color: var(--xh-accent-color);
  }

  &:not(&--started) {
    transition:
      top 200ms ease,
      left 200ms ease;
  }
}
