.xh-treemap {
  &__chart-holder {
    // Positioned absolute within container so it doesn't affect outer flex
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    // While resizing, we want to hide the chart svg but keep the component in place
    &--resizing {
      background: var(--xh-mask-bg);

      svg {
        display: none;
      }
    }
  }

  text > tspan {
    font-family: var(--xh-font-family);
    font-size: var(--xh-font-size-small-px);
    font-weight: normal;
  }

  rect.highcharts-point {
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
    // Using transparent borders means they 'double' up, leading to
    // slightly more pronounced borders around parent groups.
    outline-color: rgba(0, 0, 0, 0.15);

    &.highcharts-point-select {
      outline-width: 3px;
      outline-offset: -3px;
      outline-color: var(--xh-blue-light);
    }
  }
}

.xh-treemap-tooltip {
  color: var(--xh-text-color);
  border: var(--xh-border-solid);
  overflow: hidden;
  white-space: nowrap;

  &__label {
    padding: var(--xh-pad-half-px);
    background: var(--xh-bg-alt);
    font-size: var(--xh-font-size-small-px);
  }

  &__row {
    display: flex;
    background: var(--xh-bg);
    border-top: var(--xh-border-solid);
    font-size: var(--xh-font-size-small-px);

    & > div {
      padding: var(--xh-pad-half-px);

      &:first-of-type {
        flex: 1;
        padding-right: var(--xh-pad-px);
        font-weight: bold;
      }
    }
  }
}
