.xh-panel-header {
  align-items: center;
  padding: var(--xh-title-pad-px);
  color: var(--xh-title-text-color);
  background-color: var(--xh-title-bg);
  height: var(--xh-title-height-px);
  flex: none;

  .xh-panel-header-title {
    font-size: var(--xh-title-font-size-px);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Header glyph.
  & > .svg-inline--fa {
    margin: 0 5px 0 0;
  }

  // Header "tool" buttons.
  button.bp3-minimal {
    color: var(--xh-title-text-color) !important;
  }

  // Rotate title when vbox
  &.xh-vbox {
    .xh-panel-header-title {
      writing-mode: vertical-lr;
      -ms-block-progression: lr;
    }

    &.xh-panel-header-left {
      padding-top: var(--xh-pad-px);
      flex-direction: column-reverse !important;

      & > .svg-inline--fa {
        margin: 10px 0 0;
      }

      .xh-panel-header-title {
        transform: rotate(180deg);
      }
    }

    &.xh-panel-header-right {
      & > .svg-inline--fa {
        margin: 0 0 10px;
      }
    }
  }
}