.xh-loading-indicator {
  --border-width: 1px;
  --height: 25px;  // should match spinner height
  --msg-spinner-margin: 10px;

  position: absolute;
  border-color: var(--xh-tbar-border-color);
  border-style: solid;
  border-width: 0px;
  padding: var(--xh-pad-half-px);
  color: var(--xh-tbar-text-color);
  background-color: var(--xh-tbar-bg);

  &.has-message {
    width: 200px;
  }

  &.tl {
    top: 0;
    left: 0;
    border-bottom-width: var(--border-width);
    border-right-width: var(--border-width);
    border-radius: 0px 0px 4px 0px;
    &.has-spinner{
      .xh-loading-indicator__message {
        margin-left: var(--msg-spinner-margin);
      }
    }
  }
  &.tr {
    top: 0;
    right: 0;
    border-bottom-width: var(--border-width);
    border-left-width: var(--border-width);
    border-radius: 0px 0px 0px 4px;
    &.has-spinner {
      .xh-loading-indicator__message {
        margin-right: var(--msg-spinner-margin);
      }
    }
  }
  &.bl {
    bottom: 0;
    left: 0;
    border-top-width: var(--border-width);
    border-right-width: var(--border-width);
    border-radius: 0px 4px 0px 0px;
    &.has-spinner {
      .xh-loading-indicator__message {
        margin-left: var(--msg-spinner-margin);
      }
    }
  }
  &.br {
    bottom: 0;
    right: 0;
    border-top-width: var(--border-width);
    border-left-width: var(--border-width);
    border-radius: 4px 0px 0px 0px;
    &.has-spinner {
      .xh-loading-indicator__message {
        margin-right: var(--msg-spinner-margin);
      }
    }
  }

  .xh-hbox {
    flex: none;
    align-items: start;
    flex-wrap: nowrap;
  }

  .xh-loading-indicator__message {
    height: var(--height);
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: var(--height);
  }
}