.xh-about-dialog {
  &__inner {
    background-color: var(--xh-bg);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--xh-bg-alt);
    border-bottom: var(--xh-border-solid);
    border-right: var(--xh-border-solid);
    padding: var(--xh-pad-half-px);
  }

  td {
    border-bottom: var(--xh-border-solid);
    padding: var(--xh-pad-half-px);
  }
}
