/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */

.xh-about-dialog {
  &__inner {
    background-color: var(--xh-bg);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    background-color: var(--xh-bg-alt);
    border-bottom: var(--xh-border-solid);
    border-right: var(--xh-border-solid);
    padding: var(--xh-pad-half-px) var(--xh-pad-px);
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
  }

  td {
    border-bottom: var(--xh-border-solid);
    cursor: copy;
    padding: var(--xh-pad-half-px);
  }
}
