/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */
body.xh-app .xh-banner {
  &__click_target {
    &--clickable {
      cursor: pointer;
    }

    & > .xh-icon {
      margin-right: var(--xh-pad-half-px);
    }
  }

  &__message {
    flex: 1;
    margin-right: var(--xh-pad-half-px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // Disallow most markdown styling except **bold**, *italics* and (links)
    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    li,
    a,
    code {
      display: inline;
      margin: unset;
      padding: unset;
      color: unset;
      font-weight: unset;
      font-size: unset;
      font-family: unset;
      list-style: none;
    }

    // Render links with an underline
    a {
      text-decoration: underline;
    }
  }

  &__action-button,
  &__dismiss-button {
    border-color: white !important;
    color: white !important;
    &:hover {
      background-color: unset !important;
    }
  }

  &.xh-bg-intent-none {
    .xh-banner__action-button,
    .xh-banner__dismiss-button {
      border-color: unset !important;
      color: unset !important;
    }
  }
}
