/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2023 Extremely Heavy Industries Inc.
 */
body.xh-app .xh-banner {
  &__click_target {
    &--clickable {
      cursor: pointer;
    }

    & > .xh-icon {
      margin-right: var(--xh-pad-half-px);
    }
  }

  &__message {
    flex: 1;
    margin-right: var(--xh-pad-half-px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__action-button,
  &__dismiss-button {
    border-color: white !important;
    color: white !important;
    &:hover {
      background-color: unset !important;
    }
  }

  &.xh-intent-primary {
    color: white;
    background-color: var(--xh-intent-primary);
  }

  &.xh-intent-danger {
    color: white;
    background-color: var(--xh-intent-danger);
  }

  &.xh-intent-success {
    color: white;
    background-color: var(--xh-intent-success);
  }

  &.xh-intent-warning {
    color: white;
    background-color: var(--xh-intent-warning);
  }

  &.xh-intent-none {
    .xh-banner__action-button,
    .xh-banner__dismiss-button {
      border-color: unset !important;
      color: unset !important;
    }
  }
}
