.xh-idle-dialog {
  &.bp3-dialog {
    width: 304px;

    .bp3-dialog-body {
      margin: 0 0 var(--xh-pad-px) 0;
      text-align: center;

      img {
        border-bottom: var(--xh-border-solid);
        margin-bottom: var(--xh-pad-px);
      }

      p {
        margin: 0;
      }
    }
  }
}
