/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */

.xh-impersonation-bar {
  background-color: var(--xh-intent-primary-darkest);
  color: white;
  padding-left: var(--xh-pad-px);
  z-index: 9999;

  .xh-button {
    border-color: transparent !important;
    color: white !important;

    &:hover {
      border-color: white !important;
      background-color: transparent !important;
    }
  }
}
