.xh-lockout-panel {
  padding: var(--xh-pad-double-px);
  background-color: var(--xh-red);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;

  p:last-of-type {
    margin-bottom: var(--xh-pad-double-px);
  }
}
