/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

.xh-login {
  border: var(--xh-border-solid);
  border-radius: var(--xh-border-radius-px);

  .bp3-input-group {
    margin-bottom: var(--xh-pad-px);
  }

  &__warning,
  &__message {
    text-align: center;
    padding: var(--xh-pad-px);
    border-radius: var(--xh-border-radius-px);
  }

  &__warning {
    color: white;
    background-color: var(--xh-red-muted);
  }

  &__message {
    background-color: var(--xh-bg-alt);
  }
}
