.xh-login {
  border: var(--xh-border-solid);
  border-radius: var(--xh-border-radius-px);

  .bp3-input-group {
    margin: 0 var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
  }

  &__warning,
  &__message {
    text-align: center;
    margin: 0 var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
    padding: var(--xh-pad-px);
    border-radius: var(--xh-border-radius-px);
  }

  &__warning {
    color: white;
    background-color: var(--xh-red-muted);
  }

  &__message {
    background-color: var(--xh-bg-alt);
  }
}
