/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-toast-container {
  &--anchored {
    position: absolute;
  }

  .xh-toast {
    color: white !important;
    padding-left: var(--xh-spacing-half);

    &__title {
      margin-bottom: var(--xh-spacing-half);
      display: block;
      font-size: var(--xh-font-size-large);
    }

    &__body {
      font-size: var(--xh-font-size);
    }

    &__trace-id {
      display: block;
      margin-top: var(--xh-spacing-half);
      font-size: var(--xh-font-size-small);
      opacity: 0.7;
    }

    &__icon {
      align-self: center;
      margin: 0 0 0 var(--xh-spacing-half);
    }

    .bp6-toast-message {
      overflow-wrap: break-word;
    }

    // High level of specificity here required to override built-in BP styles
    &.bp6-toast .bp6-button {
      background: none !important;
      color: white !important;

      .bp6-icon {
        color: white !important;
      }
    }
  }
}
