.xh-version-bar {
  color: white;
  background-color: var(--xh-green-muted);
  padding: var(--xh-pad-half-px);

  &--production {
    background-color: var(--xh-red);
  }

  &--bcp {
    background-color: var(--xh-purple);
  }

  &--staging,
  &--beta,
  &--uat {
    background-color: var(--xh-blue);
  }

  svg {
    cursor: pointer;
    margin-left: var(--xh-pad-px);
  }
}
