/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2025 Extremely Heavy Industries Inc.
 */

.xh-version-bar {
  align-items: center;
  background-color: var(--xh-gray-dark);
  color: white;
  flex: none;
  justify-content: center;
  padding: var(--xh-pad-half-px);

  &--development {
    background-color: var(--xh-green-muted);
  }

  &--staging {
    background-color: var(--xh-orange-muted);
  }

  &--beta,
  &--uat {
    background-color: var(--xh-blue);
  }

  &--production {
    background-color: var(--xh-red);
  }

  &--bcp {
    background-color: var(--xh-purple);
  }

  &--test {
    background-color: hsl(180, 100%, 25%);
  }

  &__spacer {
    margin-left: var(--xh-pad-px);
  }

  &__tabid {
    margin-left: var(--xh-pad-px);
    cursor: pointer;
  }

  svg {
    cursor: pointer;
    margin-left: var(--xh-pad-px);
  }
}
