.xh-auth-pinpad {
  width: 100%;
  height: 100%;

  &__header {
    text-align: center;

    & p {
      min-height: 2em;
    }
  }

  &__display {
    margin: 0 var(--xh-pad-px);
    flex-direction: row;

    &__digit {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 65px;
      background-color: var(--xh-bg-alt);
      border: var(--xh-border-solid);
      border-radius: 5px;
      font-size: 35px;
      margin: var(--xh-pad-px);
      text-align: center;

      &.disabled {
        color: var(--xh-text-color-muted);
      }

      &.active {
        margin: calc(var(--xh-pad-px) - var(--xh-border-width-px));
        border-color: var(--xh-accent-color);
        background-color: var(--xh-bg-highlight);
      }
    }
  }

  &__error {
    flex: 1;
    color: var(--xh-red);
    text-align: center;
    font-size: 16px;
  }

  &__keyboard {
    flex: 3;

    &__row {
      flex: 1;
    }

    &__key {
      flex: 1;

      &.xh-button {
        font-size: var(--xh-font-size-large-em);
        height: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid var(--xh-bg-alt);
        border-radius: 0;
      }
    }
  }
}
