.xh-auth-pinpad {
  width: 100%;
  height: 100%;

  &__display {
    flex: 1;
    flex-direction: row;

    &__digit {
      flex: 1;
      background-color: var(--xh-bg-alt);
      border: var(--xh-border-solid);
      border-radius: 5px;
      font-size: 35px;
      margin: var(--xh-pad-px);
    }
  }
}
