.xh-error-message {
  align-items: center;
  justify-content: center;

  &__inner {
    margin: 0 var(--xh-pad-px);
    padding: var(--xh-pad-px);
    background: var(--xh-intent-danger-trans1);
    border: 1px solid var(--xh-intent-danger);
    text-align: center;

    & > * {
      margin: 0 0 var(--xh-pad-px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: bold;
  }
}
