.xh-error-message {
  align-items: center;
  justify-content: center;

  &__inner {
    padding: var(--xh-pad-px);
    background: var(--xh-intent-danger-trans1);
    border: 1px solid var(--xh-intent-danger);
    max-width: 50%;
    text-align: center;

    & > * {
      margin: 0 0 var(--xh-pad-px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
