.xh-admin-role-details {
  &__form {
    overflow-y: auto;

    .xh-form-field {
      margin: 0;
      padding: 2px var(--xh-pad-px);

      &.xh-form-field--readonly .xh-form-field__readonly-display {
        padding: var(--xh-pad-half-px);
      }

      &:nth-child(odd) {
        background-color: var(--xh-grid-bg-odd);
      }
    }

    .xh-form-field__label {
      font-size: var(--xh-font-size-small-px);
      padding: 0;
    }
  }
}
