.xh-admin-role-details {
  &__form {
    overflow-y: auto;

    .xh-form-field {
      margin: 0;
      padding: 2px var(--xh-pad-px);

      &__label {
        font-size: var(--xh-font-size-small-px);
        padding: 0;
      }

      &__readonly-display {
        padding: var(--xh-pad-half-px);
      }

      &:nth-child(odd) {
        background-color: var(--xh-grid-bg-odd);
      }
    }
  }
}
