/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */

.xh-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 0.75em;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 5px;
  padding: 0 4px;
  height: 1.6em;
  width: fit-content;
  min-width: 15px;
  background-color: var(--xh-blue-gray);
  color: white;

  &--compact {
    font-size: 0.5em;
  }
}
