/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */

.xh-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: var(--xh-badge-font-size);
  font-weight: bold;
  border-radius: var(--xh-badge-border-radius);
  margin-left: 5px;
  padding: var(--xh-badge-padding);
  height: var(--xh-badge-height);
  width: fit-content;
  min-width: var(--xh-badge-min-width);
  background-color: var(--xh-badge-bg);
  color: var(--xh-badge-text-color);

  &--compact {
    font-size: 0.5em;
  }
}
