<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <link rel="manifest" href="<%= webpackConfig.output.publicPath %>public/manifest.json" crossorigin="use-credentials">
    <% if (htmlWebpackPlugin.options.includeAppleIcon) { %>
    <link rel="apple-touch-icon" href="<%= webpackConfig.output.publicPath %>public/apple-touch-icon.png">
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= stylesTags %>
</head>
<body class="xh-app" style="margin: 0">

<noscript>
    This application requires that JavaScript be enabled for this site in your browser.
</noscript>

<div id="xh-preload-spinner" style="height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center;">
    <img src="<%= webpackConfig.output.publicPath %>public/spinner.png" style="width: 50px; height: 50px;">
</div>

<div id="xh-root"></div>
<%= scriptTags %>
</body>
</html>
