/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-collapsible-fieldset {
  &--collapsed {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}
