.xh-form-field {
  .bp3-form-content {
    position: relative;
  }

  .bp3-form-helper-text {
    font-size: var(--xh-font-size-small-px);

    .xh-form-field-pending {
      width: 15px;
      height: 15px;
    }

    .xh-form-field-error-msg {
      display: none;
    }
  }

  &.xh-form-field-invalid .bp3-form-content {
    padding: 0 0 calc(var(--xh-font-size-small-px) + var(--xh-pad-px));

    .bp3-form-helper-text {
      position: absolute;
      height: calc(var(--xh-font-size-small-px) + var(--xh-pad-px));
      line-height: calc(var(--xh-font-size-small-px) + var(--xh-pad-px));
      width: 100%;
      overflow: hidden;
      bottom: 0;

      .xh-form-field-error-msg {
        display: block;
        color: var(--xh-red);
        height: calc(var(--xh-font-size-small-px) + var(--xh-pad-px));
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}