.xh-form-field {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin: 0 0 var(--xh-pad-px);

  .xh-form-field-label {
    padding: 0 0 3px;
  }

  .xh-form-field-fill {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .xh-input {
      .bp3-input-group {
        width: 100%;
      }

      &.bp3-popover-target,
      .bp3-popover-target {
        display: block;
      }
    }

    .bp3-popover-wrapper:not(.xh-form-field-error-msg) {
      display: flex;
      flex: 1;

      & > .bp3-popover-target,
      & > .bp3-popover-target > .bp3-control-group {
        display: flex;
        flex: 1;
      }
    }
  }

  .xh-form-field-info,
  .xh-form-field-error-msg {
    font-size: var(--xh-font-size-small-px);
    line-height: calc(var(--xh-font-size-small-px) + var(--xh-pad-px));
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .xh-form-field-error-msg {
    color: var(--xh-red);
  }

  &.xh-form-field-inline {
    flex-direction: row;
    align-items: baseline;

    &.xh-form-field-json-input {
      align-items: start;
    }

    .xh-form-field-label {
      padding: 0 var(--xh-pad-half-px) 0 0;
    }
  }

  &.xh-form-field-readonly {
    .xh-form-field-error-msg {
      display: none;
    }

    .xh-form-field-readonly-display {
      padding: 6px 0;
    }
  }

  &.xh-form-field-invalid:not(.xh-form-field-readonly) {
    .xh-check-box span {
      box-shadow: var(--xh-form-field-invalid-box-shadow) !important;
    }

    .xh-button-group-input button.xh-button {
      box-shadow: var(--xh-form-field-invalid-box-shadow);
    }

    .xh-slider span {
      box-shadow: var(--xh-form-field-invalid-box-shadow);
    }

    div.xh-select__control {
      border: var(--xh-form-field-invalid-border);
    }

    .xh-text-input > svg {
      color: var(--xh-intent-danger);
    }

    .xh-text-area.textarea {
      border: var(--xh-form-field-invalid-border) !important;
    }
  }
}

ul.xh-form-field-error-tooltip {
  margin: 0;
  padding: 0 1em 0 2em;
}

// Toolbar specific style
.xh-toolbar .xh-form-field {
  padding: 0;
  margin: 0 var(--xh-pad-half-px);
  flex-direction: row;
  align-items: baseline;
  overflow: visible !important;

  .xh-form-field-fill {
    flex-direction: row;
    align-items: center;
  }

  .xh-form-field-error-msg {
    margin: 0 var(--xh-pad-px);
  }
}
