.xh-feedback-dialog .xh-dialog__inner {
  padding: 0;
  display: flex;

  .xh-textarea {
    flex: 1;
    border: none;

    textarea {
      margin: 0;
      padding: var(--xh-pad-px);
      height: 250px;
      width: 100%;
      line-height: 1.5;
      resize: none;
    }
  }
}
