/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */

.xh-idle-panel {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--xh-bg-alt);

  &.xh-panel .xh-panel-header {
    background-color: var(--xh-appbar-bg);
    color: var(--xh-appbar-title-color);
    padding: var(--xh-pad-half-px) var(--xh-pad-px);
    height: 38px;

    &__title {
      font-size: var(--xh-appbar-title-font-size-px);
    }

    & > svg {
      margin: 0 var(--xh-pad-px) 0 var(--xh-pad-half-px);
    }
  }

  img {
    width: 100%;
    background: var(--xh-bg);
    border-bottom: var(--xh-border-solid);
    object-fit: contain;
  }

  &__content {
    padding: var(--xh-pad-double-px);
    margin-bottom: 10vh;
    justify-content: space-evenly;
  }

  &__text-container p {
    margin: var(--xh-pad-half-px);
    text-align: center;
  }

  &__button-container {
    margin: 0 var(--xh-pad-double-px);
    padding: var(--xh-pad-px);
  }
}
