.xh-impersonation-bar {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--xh-blue-dark);
  font-size: 14px;

  & > svg {
    margin-right: 10px;
  }

  .xh-select {
    flex: 1;
  }

  .xh-button {
    margin: 5px;
  }
}
