.xh-impersonation-bar {
  align-items: center;
  background-color: var(--xh-blue-dark);
  color: white;
  display: flex;
  padding-left: var(--xh-pad-px);

  & > svg {
    margin-right: var(--xh-pad-px);
  }

  .xh-select {
    border-color: transparent;
    flex: 1;

    &__control {
      background-color: rgb(0, 0, 0, 0.3);
    }

    &__single-value,
    &__input {
      color: white;
    }
  }

  .xh-button {
    color: white !important;
    margin: var(--xh-pad-half-px);
  }
}
