.xh-login {
  .xh-toolbar {
    font-size: var(--xh-navbar-title-font-size-px);
    background-color: var(--xh-navbar-bg);
    color: var(--xh-navbar-title-color);
  }

  &__body {
    margin: 40px;
  }

  .xh-input {
    width: 100%;
    margin-bottom: var(--xh-pad-px);
    padding: 4px 8px;
  }

  &__warning,
  &__message {
    text-align: center;
    margin-bottom: var(--xh-pad-px);
    padding: var(--xh-pad-px);
    border-radius: var(--xh-border-radius-px);
  }

  &__warning {
    background-color: var(--xh-red-muted);
    color: white;
  }

  &__message {
    background-color: var(--xh-bg-alt);
  }

  .xh-button {
    padding: 1.5em 0;
  }
}
