.xh-options-dialog {
  &__form {
    padding: var(--xh-spacing);
    overflow-y: auto;

    .xh-form-field:not(:last-child) {
      margin-bottom: var(--xh-spacing-double);
    }
  }

  &__restore-defaults-btn {
    align-self: center;
    margin: 40px 0;
  }
}
