.xh-toast {
  bottom: unset;

  &__title {
    margin-bottom: var(--xh-pad-half-px);
    display: block;
    color: rgba(255, 255, 255, 0.7);
  }

  .toast {
    padding: var(--xh-pad-px);
    background-color: var(--xh-blue-gray-dark);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  }

  &.toast-bg-intent-primary .toast {
    background-color: var(--xh-intent-primary);
  }

  &.toast-bg-intent-danger .toast {
    background-color: var(--xh-intent-danger);
  }

  &.toast-bg-intent-success .toast {
    background-color: var(--xh-intent-success);
  }

  &.toast-bg-intent-warning .toast {
    background-color: var(--xh-intent-warning);
  }

  .toast__message {
    margin: 0;
    display: flex;
    align-items: center;

    & > svg {
      margin-left: var(--xh-pad-half-px);
      margin-right: var(--xh-pad-px);
    }

    & > span {
      flex: 1;
    }

    .xh-button svg {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
