.xh-version-bar {
  color: white;
  font-size: 12px;
  background-color: var(--xh-green-muted);
  padding: var(--xh-pad-half-px);

  &--production {
    background-color: var(--xh-red);
  }

  &--bcp {
    background-color: var(--xh-purple);
  }

  &--staging,
  &--beta,
  &--uat {
    background-color: var(--xh-blue);
  }

  .xh-button {
    display: flex;
    padding: 0 10px;
    background: none !important;
    height: 14px;

    svg {
      color: white;
      cursor: pointer;
    }
  }
}
