.xh-version-bar {
  background-color: var(--xh-gray-dark);
  color: white;
  font-size: 12px;
  padding: var(--xh-pad-half-px);

  &--development {
    background-color: var(--xh-green-muted);
  }

  &--staging {
    background-color: var(--xh-orange-muted);
  }

  &--beta,
  &--uat {
    background-color: var(--xh-blue);
  }

  &--production {
    background-color: var(--xh-red);
  }

  &--bcp {
    background-color: var(--xh-purple);
  }

  &--test {
    background-color: hsl(180, 100%, 25%);
  }

  .xh-button {
    display: flex;
    padding: 0 10px;
    background: none !important;
    height: 14px;

    svg {
      color: white;
      cursor: pointer;
    }
  }
}
