.logviewer-panel {
    display: flex;
    width: calc(100% - 104px);
    flex-direction: row;
}

.logviewer-panel .collapsible-panel {
    flex: 0 0 auto;
    overflow: hidden;
    width: 0;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.logviewer-panel .collapsible-panel.expanded {
    width: 220px;
}

.logviewer-panel .ui.small.button.resizer {
    font-size: 0.7em;
}

.logviewer-panel .logviewer-container {
    border: 1px solid darkgrey;
    min-width: 0;
}

.logviewer-panel .toolbar {
    background-color: #106ba3;
    flex: 0 0 auto;
    height: 45px;
    align-items: center;
}

.logviewer-panel .toolbar .ui {
    margin-left: 5px;
}

.logviewer-panel .toolbar .ui label, .logviewer-panel .toolbar .ui label:focus  {
    color: white;
}

.logviewer-panel .log-display {
    flex: 1;
    overflow: auto;
    background-color: #f6f6f6;
}

.logviewer-panel .log-display .row {
    flex: 0 0 auto;
    height: 16px;
    font-size: 11px;
    font-family: Monaco, monospace;
}

.logviewer-panel .log-display .row .row-number {
    padding-right: 6px;
    margin-right: 6px;
    min-width: 50px;
    color: #3764ab;
    border-right: 1px dotted #929292;
    text-align: end;
}

.logviewer-panel .log-display .row .row-content {
    white-space: pre;
}