.xh-file-chooser {
  &__target {
    margin: var(--xh-pad-px);
    padding: var(--xh-pad-px);
    border: var(--xh-border-dotted);
    cursor: pointer;
    flex: auto;

    &--withGrid {
      flex: unset;
      width: 180px;
    }

    &--active {
      border-color: var(--xh-green);
    }
  }

  &__reject-warning {
    color: var(--xh-red);
    margin-top: var(--xh-pad-double-px);
  }

  &__grid {
    flex: 1;
    border-left: var(--xh-border-solid);
  }
}
