/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2024 Extremely Heavy Industries Inc.
 */

.xh-file-chooser {
  &__target {
    margin: var(--xh-pad-px);
    padding: var(--xh-pad-px);
    border: var(--xh-border-dotted);
    flex: auto;

    &--withGrid {
      flex: unset;
      width: 180px;
    }

    &--active {
      border-color: var(--xh-green);
    }

    &--pointer {
      cursor: pointer;
    }

    &--disabled {
      color: var(--xh-gray);
    }
  }
}
