/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-collapsible-set {
  border-color: var(--xh-border-color);
  border-width: var(--xh-border-width-px);

  &--collapsed {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  &--intent-primary {
    border-color: var(--xh-intent-primary-trans2);
    &.xh-collapsible-set--enabled {
      border-color: var(--xh-intent-primary);
    }
  }

  &--intent-success {
    border-color: var(--xh-intent-success-trans2);
    &.xh-collapsible-set--enabled {
      border-color: var(--xh-intent-success);
    }
  }

  &--intent-warning {
    border-color: var(--xh-intent-warning-trans2);
    &.xh-collapsible-set--enabled {
      border-color: var(--xh-intent-warning);
    }
  }

  &--intent-danger {
    border-color: var(--xh-intent-danger-trans2);
    &.xh-collapsible-set--enabled {
      border-color: var(--xh-intent-danger);
    }
  }
}
