.xh-toolbox-example-container {
  > div {
    border: var(--xh-border-solid);
    .xh-toolbox-hboxcontainer-panel &:not(:first-child) {
      margin-left: 5px;
    }

    .xh-toolbox-vboxcontainer-panel &:not(:first-child) {
      margin-top: 5px;
    }
  }
}