.xh-collapse-text {
  background-color: #959b9e;
  outline: 1px solid #282828;
  outline-offset: -1px;
}

.xh-collapse-text div {
  font-size: 20px;
  white-space: nowrap;
  color: #282828;
}
.xh-collapse-text.vertical {
  height: 30px
}

.xh-collapse-text.vertical div {
  margin-left: 10px;
}

.xh-collapse-text.horizontal {
  width: 30px;
}
.xh-collapse-text.horizontal div {
  -webkit-transform: rotate(90deg) translateX(50%);
  -moz-transform: rotate(90deg) translateX(50%);
  -ms-transform: rotate(90deg) translateX(50%);
  -o-transform: rotate(90deg) translateX(50%);
  transform: rotate(90deg) translateX(50%);
  -webkit-transform-origin: 40% 0%;
  -moz-transform-origin: 40% 0%;
  -ms-transform-origin: 40% 0%;
  -o-transform-origin: 40% 0%;
  transform-origin: 40% 0%;
}
