/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-grid-find-field {
  .bp6-input {
    border-radius: 3px 0 0 3px;
  }

  &__controls {
    align-items: center;
    padding: 0 var(--xh-tbar-item-pad-px);
    font-size: var(--xh-tbar-compact-font-size-px);
    background-color: var(--xh-tbar-bg);
    border: 1px solid var(--xh-form-field-box-shadow-color-bottom);
    border-left: none;
    border-radius: 0 3px 3px 0;

    .xh-button {
      max-height: calc(var(--xh-tbar-compact-item-height-px) * 0.5) !important;
      min-height: calc(var(--xh-tbar-compact-item-height-px) * 0.5) !important;
      min-width: var(--xh-tbar-compact-item-height-px);
      max-width: var(--xh-tbar-compact-item-height-px);
      margin: 0 !important;

      svg {
        font-size: var(--xh-tbar-compact-font-size-px);
      }
    }
  }

  &__count-label {
    margin-right: var(--xh-tbar-item-pad-px);
    min-width: 30px;
    text-align: right;
  }
}

.xh-toolbar--compact .xh-grid-find-field__controls {
  border: none;
}
