/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-grid-find-field {
  .bp6-input {
    border-radius: 3px 0 0 3px;
  }

  &__controls {
    align-items: center;
    padding: 0 var(--xh-toolbar-item-spacing);
    font-size: var(--xh-toolbar-compact-font-size);
    background-color: var(--xh-toolbar-bg);
    border: 1px solid var(--xh-form-field-box-shadow-color-bottom);
    border-left: none;
    border-radius: 0 3px 3px 0;

    .xh-button {
      max-height: calc(var(--xh-toolbar-compact-item-height) * 0.5) !important;
      min-height: calc(var(--xh-toolbar-compact-item-height) * 0.5) !important;
      min-width: var(--xh-toolbar-compact-item-height);
      max-width: var(--xh-toolbar-compact-item-height);
      margin: 0 !important;

      svg {
        font-size: var(--xh-toolbar-compact-font-size);
      }
    }
  }

  &__count-label {
    margin-right: var(--xh-toolbar-item-spacing);
    min-width: 30px;
    text-align: right;
  }
}

.xh-toolbar--compact .xh-grid-find-field__controls {
  border: none;
}
