.config-diff-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr {
    border-bottom: var(--xh-border-solid);
  }

  tr:nth-child(odd):not(:first-child) {
    background-color: var(--xh-bg-alt);
  }

  th {
    text-align: left;
    padding: var(--xh-pad-px);
  }

  td {
    width: 160px;
    padding: var(--xh-pad-px);
    word-wrap: break-word;

    &.diff {
      color: var(--xh-green);
    }
  }
}
