// For handling showing the actions in a grid on row hover
.ag-row.ag-row-hover {
  .xh-record-action-bar.xh-show-on-hover {
    .xh-record-action-button {
      visibility: visible;
    }
  }
}

.xh-record-action-bar {
  &.xh-show-on-hover {
    &:hover {
      .xh-record-action-button {
        visibility: visible;
      }
    }

    .xh-record-action-button {
      visibility: hidden;
    }
  }

  &--small {
    button {
      max-width: 24px;
      max-height: unset;
    }

    &.xh-record-action-bar--vertical {
      button {
        max-width: unset;
        max-height: 24px;
      }
    }
  }
}
