/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

.CodeMirror {
  font-family: var(--xh-font-family-mono);
  font-size: var(--xh-font-size-px);
  line-height: calc(var(--xh-font-size-px) * 1.4);

  pre.CodeMirror-line {
    box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
    -webkit-box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
  }
}

.xh-code-input {
  flex-direction: column;

  &.xh-input-invalid {
    div.CodeMirror {
      border: var(--xh-form-field-invalid-border);
    }
  }

  &.xh-input-disabled {
    .CodeMirror {
      background-color: var(--xh-input-disabled-bg);
      color: var(--xh-input-disabled-text-color);
    }
  }

  & > .CodeMirror {
    height: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .CodeMirror-scroll {
      flex: 1;
      box-sizing: content-box !important;
    }

    .CodeMirror-simplescroll-vertical,
    .CodeMirror-simplescroll-horizontal {
      background-color: var(--xh-scrollbar-bg);
      > div {
        background-color: var(--xh-scrollbar-thumb);
        border: none;
      }
    }

    .CodeMirror-scrollbar-filler {
      background-color: var(--xh-scrollbar-bg);
    }

    .CodeMirror-simplescroll-horizontal {
      height: var(--xh-scrollbar-size-px);
    }

    .CodeMirror-simplescroll-vertical {
      width: var(--xh-scrollbar-size-px);
    }
  }

  &__action-buttons {
    position: absolute !important;
    bottom: var(--xh-scrollbar-size-px);
    right: var(--xh-scrollbar-size-px);
    z-index: 3; // render on top of code-mirror content to enable click

    .xh-button {
      padding: 0;
      min-width: 22px;
      min-height: 22px;
      color: var(--xh-text-color-muted) !important;
    }
  }

  &__toolbar {
    position: absolute !important;
    padding: 0 !important;
    bottom: 0;
    right: 0;
    z-index: 3; // render on top of code-mirror content to enable click

    .xh-button {
      padding: 0;
      min-width: 22px;
      min-height: 22px;
      color: var(--xh-text-color-muted) !important;
    }
  }

  &--label {
    color: var(--xh-text-color-muted);
    line-height: 2.4;
  }

  &--dialog {
    width: 90vw;
    height: 90vh;
  }

}

.xh-form-field-inline .xh-code-input {
  flex-direction: row;

  & > .CodeMirror {
    // Flex items won't shrink below their minimum content size, unless a width / min-width is defined.
    // See https://dfmcphee.com/flex-items-and-min-width-0/
    width: 0;
    min-width: 0;
  }
}

.selection-highlight {
  background-color: var(--xh-selected-highlight);
}