.CodeMirror pre.CodeMirror-line {
  box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
  -webkit-box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
}

.xh-input {
  &.xh-input-invalid {
    div.CodeMirror {
      border: var(--xh-form-field-invalid-border);
    }
  }
  &.xh-input-disabled {
    .CodeMirror {
      background-color: var(--xh-input-disabled-bg);
      color: var(--xh-input-disabled-text-color);
    }
  }

  .CodeMirror {
    height: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .CodeMirror-scroll {
      flex: 1;
    }
  }
}