.CodeMirror pre.CodeMirror-line {
  box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
  -webkit-box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
}

.xh-json-input {
  flex-direction: column;

  &.xh-input-invalid {
    div.CodeMirror {
      border: var(--xh-form-field-invalid-border);
    }
  }

  &.xh-input-disabled {
    .CodeMirror {
      background-color: var(--xh-input-disabled-bg);
      color: var(--xh-input-disabled-text-color);
    }
  }

  & > .CodeMirror {
    height: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .CodeMirror-scroll {
      flex: 1;
      box-sizing: content-box !important;
    }
  }

  &__action-buttons {
    position: absolute !important;
    top: 0;
    right: 6px;
    z-index: 3; // render above code-mirror content to enable click

    .xh-button {
      padding: 0;
      min-width: 22px;
      min-height: 22px;
      color: var(--xh-text-color-muted);
    }
  }

  &--dialog {
    width: 90vw;
    height: 90vh;
  }
}

.xh-form-field-inline .xh-json-input {
  flex-direction: row;

  & > .CodeMirror {
    // Flex items won't shrink below their minimum content size, unless a width / min-width is defined.
    // See https://dfmcphee.com/flex-items-and-min-width-0/
    width: 0;
    min-width: 0;
  }
}
