.CodeMirror pre.CodeMirror-line {
  box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
  -webkit-box-shadow: inset 0 0 0 0 rgba(16, 22, 26, 0.4);
}

.xh-json-input {
  display: flex;
  flex-direction: column;

  &.xh-input-invalid {
    div.CodeMirror {
      border: var(--xh-form-field-invalid-border);
    }
  }
  &.xh-input-disabled {
    .CodeMirror {
      background-color: var(--xh-input-disabled-bg);
      color: var(--xh-input-disabled-text-color);
    }
  }

  & > .CodeMirror {
    height: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .CodeMirror-scroll {
      flex: 1;
      box-sizing: content-box !important;
    }
  }
}

.xh-form-field-inline .xh-json-input {
  flex-direction: row;

  & > .CodeMirror {
    // Flex items won't shrink below their minimum content size, unless a width / min-width is defined.
    // See https://dfmcphee.com/flex-items-and-min-width-0/
    width: 0;
    min-width: 0;
  }
}