.xh-radio-input {
  .xh-radio-input-option.bp3-control.bp3-inline {
    margin-right: var(--xh-pad-double-px);
  }

  &.xh-input-invalid .xh-radio-input-option .bp3-control-indicator {
    border: var(--xh-form-field-invalid-border);

    &::before {
      margin: -1px;
    }
  }
}

// Toolbar specific style
.xh-toolbar .xh-radio-input {
  display: flex;
  flex-direction: row;

  .xh-radio-input-option {
    margin-right: var(--xh-pad-double-px);
  }
}
