// Host div for Select option menu portal.
#xh-select-input-portal {
  z-index: 999;
  position: absolute;
}

.xh-select {
  // Outer div of the actual react-select control, causing it to fill its box.
  > div {
    width: 100%;
  }

  color: var(--xh-input-text-color);

  // This ".xh-select" is the prefix for nested BEM values below, not itself a level of nesting.
  .xh-select {
    &__control {
      background: var(--xh-input-bg);
      border: none;
      box-shadow: var(--xh-form-field-box-shadow);
      min-height: 30px;

      &--is-disabled {
        background-color: var(--xh-input-disabled-bg);

        .xh-select__placeholder {
          color: var(--xh-input-disabled-text-color);
        }
      }

      &--is-focused {
        box-shadow: var(--xh-form-field-focused-box-shadow);
      }
    }

    &__placeholder {
      color: var(--xh-input-placeholder-text-color);
    }

    &__single-value,
    &__input {
      color: var(--xh-input-text-color);

      &--is-disabled {
        color: var(--xh-input-disabled-text-color);
      }
    }

    &__value-container input {
      opacity: 1 !important;
    }

    &__indicator {
      padding: 0 var(--xh-pad-half-px);
      color: var(--xh-border-color);
    }

    &__indicator-separator {
      background-color: var(--xh-border-color);
    }

    &__multi-value {
      background-color: var(--xh-bg-alt);

      &__label {
        color: var(--xh-text-color);
      }

      &__remove {
        color: var(--xh-text-color-muted);
      }

      &--is-disabled {
        .xh-select__multi-value__label {
          color: var(--xh-input-disabled-text-color);
        }
      }
    }
  }
}

// The menu is rendered under the xh-app body, not within the control DOM.
.xh-app {
  .xh-select {
    &__menu {
      background-color: var(--xh-bg);
      box-shadow: 0 0 0 1px var(--xh-form-field-box-shadow-color-top);
    }

    &__option {
      padding-left: 0;

      &--is-selected {
        // Suppress default highlighting - checkmark indicate selection.
        color: var(--xh-text-color);
        background: none;
      }

      &--is-focused {
        color: var(--xh-text-color-highlight);
        background: var(--xh-bg-alt);
      }
    }
  }
}

// Ensure multi-value selects don't overflow vertically in the toolbar
.xh-toolbar {
  .xh-select {
    &__value-container--is-multi {
      height: 28px;
      overflow-y: auto !important;
    }
  }
}
