/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2026 Extremely Heavy Industries Inc.
 */

.xh-switch-input {
  &.xh-input--invalid,
  &.xh-input--warning,
  &.xh-input--info {
    .bp6-control-indicator::before {
      margin: 1px;
    }
  }

  &.xh-input--invalid {
    .bp6-control-indicator {
      border: var(--xh-form-field-invalid-border);
    }
  }

  &.xh-input--warning {
    .bp6-control-indicator {
      border: var(--xh-form-field-warning-border);
    }
  }

  &.xh-input--info {
    .bp6-control-indicator {
      border: var(--xh-form-field-info-border);
    }
  }
}
