.xh-inspector {
  > div > .xh-panel__content > .xh-panel-header {
    background-color: hsl(33, 93%, 40%);
  }

  .xh-font-family-mono {
    font-size: 0.9em;
  }

  .xh-impl-row .xh-cell-inner-wrapper {
    color: var(--xh-text-color-muted);
  }
}
