.xh-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--xh-mask-bg);
  z-index: 10;

  .xh-mask-body {
    align-items: center;
    justify-content: center;

    .xh-mask-text {
      max-width: 200px;
      text-align: center;
      color: var(--xh-mask-text-color);
    }

    .progress-circular__primary,
    .progress-circular__secondary {
      stroke: var(--xh-mask-text-color);
    }
  }
}
