.xh-version-bar {
  color: white;
  background-color: var(--xh-green-muted);
  padding: var(--xh-pad-half-px);

  &-production {
    background-color: var(--xh-red);
  }

  &-staging {
    background-color: var(--xh-blue);
  }

  svg {
    cursor: pointer;
    margin-left: var(--xh-pad-px);
  }
}
