/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

.xh-appbar {

  // Menu button might be on left or right of appBar - add right margin when on left only.
  .xh-app-menu:first-child {
    margin-right: var(--xh-pad-px);
  }

  .xh-appbar-icon {
    margin-right: var(--xh-pad-px);
  }

  .xh-appbar-title {
    color: var(--xh-navbar-title-color);
    font-size: var(--xh-navbar-title-font-size-px);
    margin-right: var(--xh-pad-px);
  }
}
