.xh-dash-canvas {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &--empty-overlay {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bp5-overlay-backdrop {
      background-color: var(--xh-bg);
    }
  }

  .react-grid-item {
    border: var(--xh-border-solid);
    display: flex;

    > .react-resizable-handle {
      // Make the resize handles fill the entire side
      &.react-resizable-handle-s {
        bottom: -4px;
        height: 8px;
        left: 0;
        transform: rotate(0);
        width: 100%;
      }

      &.react-resizable-handle-e {
        height: 100%;
        right: -4px;
        top: 0;
        transform: rotate(0);
        width: 8px;
      }

      &.react-resizable-handle-se {
        bottom: -8px;
        height: 16px;
        right: -8px;
        width: 16px;
      }

      // Hide the resize handles
      &::after {
        border-color: transparent;
      }
    }

    &.react-grid-placeholder {
      background-color: var(--xh-intent-primary);
    }

    > .xh-panel {
      > .xh-panel__content {
        > .xh-panel-header {
          background-color: var(--xh-intent-neutral-trans1);
          height: 24px;
          border-bottom: var(--xh-border-solid);

          .xh-panel-header__title,
          > svg {
            color: var(--xh-gray);
            font-size: 12px;
            margin-right: var(--xh-pad-half-px);
          }

          // Header "tool" buttons.
          .xh-button--minimal.xh-button--intent-none {
            color: var(--xh-gray) !important;
          }
        }
      }
    }
  }

  &--draggable {
    .react-grid-item {
      > .xh-panel {
        > .xh-panel__content {
          > .xh-panel-header {
            > .xh-panel-header__title,
            > svg {
              cursor: move;
            }
          }
        }
      }
    }
  }
}
