@import '~sass-material-colors/sass/sass-material-colors';

// Functions to fetch Google material design colors (https://material.io/color/)
// While not strictly following any material design conventions within Hoist, using these color
// helps to keep things more consistent and harmonious (vs. choosing "arbitrary" color vals).
@function mc($color-name, $color-variant) {
  @return material-color($color-name, $color-variant);
}

@function mc-muted($color-name, $color-variant, $amount:30%, $lighten-amount:10%) {
  @return lighten(desaturate(material-color($color-name, $color-variant), $amount), $lighten-amount);
}

@function mc-trans($color-name, $color-variant, $amount:0.5) {
  @return transparentize(material-color($color-name, $color-variant), $amount);
}

// Core variable declarations - non-color-related + light-theme color defaults
body {
  // Core colors
  --xh-black: var(--black, #{mc('grey', '900')});
  --xh-blue: var(--blue, #{mc('blue', '700')});
  --xh-blue-muted: var(--blue-muted, #{mc-muted('blue', '800', 40%)});
  --xh-blue-dark: var(--blue-dark, #{mc('light-blue', '900')});
  --xh-blue-light: var(--blue-light, #{mc('light-blue', '600')});
  --xh-blue-gray: var(--blue-gray, #{mc('blue-grey', '600')});
  --xh-blue-gray-light: var(--blue-gray-light, #{mc('blue-grey', '50')});
  --xh-blue-gray-dark: var(--blue-gray-dark, #{mc('blue-grey', '900')});
  --xh-gray: var(--gray, #{mc('grey', '500')});
  --xh-gray-dark: var(--gray-dark, #{mc('grey', '800')});
  --xh-gray-light: var(--gray-light, #{mc('grey', '100')});
  --xh-green: var(--green, #{mc('green', '700')});
  --xh-green-muted: var(--green-muted, #{mc-muted('green', '700')});
  --xh-orange: var(--orange, #{mc('orange', '800')});
  --xh-orange-muted: var(--orange-muted, #{mc-muted('orange', '800')});
  --xh-purple: var(--purple, #{mc('purple', '800')});
  --xh-red: var(--red, #{mc('red', '900')});
  --xh-red-muted: var(--red-muted, #{mc-muted('red', '900', 40%, 20%)});
  --xh-yellow: var(--yellow, #{mc('yellow', '800')});
  --xh-yellow-light: var(--yellow-light, #{mc('yellow', '50')});

  // Background (app / components in general)
  --xh-bg: var(--bg, white);
  --xh-bg-alt: var(--bg-alt, var(--xh-blue-gray-light));
  --xh-bg-highlight: var(--bg-highlight, #{mc-trans('blue', '200')});

  // Borders
  --xh-border-color: var(--border-color, #{mc('grey', '400')});
  --xh-border-width: var(--border-width, 1);
  --xh-border-width-px: calc(var(--xh-border-width) * 1px);

  // Borders - one-stop definitions
  --xh-border-solid: #{(var(--xh-border-width-px) solid var(--xh-border-color))};
  --xh-border-dotted: #{(var(--xh-border-width-px) dotted var(--xh-border-color))};

  // Border Radius (buttons, panels)
  --xh-border-radius: var(--border-radius, 4);
  --xh-border-radius-px: calc(var(--xh-border-radius) * 1px);

  // Focus indicator outline for interactive components - apps can use `--focus-outline: 0;` if
  // they wish to disable completely. Note form inputs provide their own dedicated props.
  --xh-focus-outline-width-px: var(--focus-outline-width-px, 0.5px);
  --xh-focus-outline-offset-px: var(--focus-outline-offset-px, -1px);
  --xh-focus-outline-color: var(--focus-outline-color, rgba(19, 124, 189, 0.6));
  --xh-focus-outline: var(--focus-outline, #{(var(--xh-focus-outline-width-px) auto var(--xh-focus-outline-color))});

  // Buttons
  --xh-button-text-color: var(--button-text-color, var(--xh-text-color-highlight));
  --xh-button-font-size: var(--button-font-size, var(--xh-font-size));
  --xh-button-font-size-px: calc(var(--xh-button-font-size) * 1px);

  // Chart
  --xh-chart-bg: var(--chart-bg, var(--xh-bg));

  // Grid
  --xh-grid-bg-highlight: var(--grid-bg-highlight, var(--xh-bg-highlight));
  --xh-grid-bg-hover: var(--grid-bg-hover, #{mc-trans('blue', '200', 0.8)});
  --xh-grid-bg-odd: var(--grid-bg-odd, #{mc('grey', '100')});
  --xh-grid-bg: var(--grid-bg, var(--xh-bg));
  --xh-grid-border-color: var(--grid-border-color, #{mc('grey', '200')});
  --xh-grid-cell-focus-border-color: var(--grid-cell-focus-border-color, var(--xh-focus-outline-color));
  --xh-grid-cell-change-bg-highlight: var(--grid-cell-bg-highlight, #{mc-trans('yellow', '400', 0.6)});
  --xh-grid-cell-lr-pad-px: calc(var(--xh-grid-cell-lr-pad) * 1px);
  --xh-grid-cell-lr-pad: var(--grid-cell-lr-pad, 11);
  --xh-grid-empty-text-color: var(--grid-empty-text-color, var(--xh-text-color-muted));
  --xh-grid-font-family: var(--grid-font-family, var(--xh-font-family));
  --xh-grid-font-size-px: calc(var(--xh-grid-font-size) * 1px);
  --xh-grid-font-size: var(--grid-font-size, var(--xh-font-size));
  --xh-grid-group-bg: var(--grid-group-bg, #{mc('blue-grey', '400')});
  --xh-grid-group-border-color: var(--grid-group-border-color, #{mc('blue-grey', '200')});
  --xh-grid-group-text-color: var(--grid-group-text-color, white);
  --xh-grid-header-bg: var(--grid-header-bg, var(--xh-blue-gray-light));
  --xh-grid-header-icon-color: var(--grid-header-icon-color, var(--xh-text-color-muted));
  --xh-grid-header-text-color: var(--grid-header-text-color, var(--xh-text-color));
  --xh-grid-line-height-px: calc(var(--xh-grid-line-height) * 1px);
  --xh-grid-line-height: var(--grid-line-height, 26);
  --xh-grid-pinned-column-border-color: var(--grid-pinned-column-border-color, #{mc('grey', '300')});

  // Compact Grid
  --xh-grid-compact-cell-lr-pad: var(--grid-compact-cell-lr-pad, 4);
  --xh-grid-compact-cell-lr-pad-px: calc(var(--xh-grid-compact-cell-lr-pad) * 1px);
  --xh-grid-compact-header-lr-pad: var(--grid-compact-header-lr-pad, 6);
  --xh-grid-compact-header-lr-pad-px: calc(var(--xh-grid-compact-header-lr-pad) * 1px);
  --xh-grid-compact-font-size: var(--grid-compact-font-size, 12);
  --xh-grid-compact-font-size-px: calc(var(--xh-grid-compact-font-size) * 1px);
  --xh-grid-compact-line-height: var(--grid-compact-line-height, 22);
  --xh-grid-compact-line-height-px: calc(var(--xh-grid-compact-line-height) * 1px);

  // Multifield renderer
  --xh-grid-multifield-top-font-size: var(--grid-multifield-top-font-size, 12);
  --xh-grid-multifield-top-font-size-px: calc(var(--xh-grid-multifield-top-font-size) * 1px);
  --xh-grid-multifield-bottom-font-size: var(--grid-multifield-bottom-font-size, 10);
  --xh-grid-multifield-bottom-font-size-px: calc(var(--xh-grid-multifield-bottom-font-size) * 1px);
  --xh-grid-multifield-line-height: var(--grid-multifield-line-height, 14);
  --xh-grid-multifield-line-height-px: calc(var(--xh-grid-multifield-line-height) * 1px);

  // Fonts
  --xh-font-family: var(--font-family, #{(-apple-system, "BlinkMacSystemFont", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif)});
  --xh-font-family-headings: var(--font-family-headings, #{(-apple-system, "BlinkMacSystemFont", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif)});
  --xh-font-family-mono: var(--font-family-mono, #{(Monaco, Consolas, monospace)});
  --xh-font-size: var(--font-size, 13);
  --xh-font-size-large-mult: var(--font-size-large-mult, 1.2);
  --xh-font-size-large-em: var(--font-size-large-em, 1.2em);
  --xh-font-size-small-mult: var(--font-size-small-mult, 0.8);
  --xh-font-size-small-em: var(--font-size-small-em, 0.9em);

  // Font sizes - calculated from above
  --xh-font-size-px: calc(var(--xh-font-size) * 1px);
  --xh-font-size-large: calc(var(--xh-font-size) * var(--xh-font-size-large-mult));
  --xh-font-size-large-px: calc(var(--xh-font-size-large) * 1px);
  --xh-font-size-small: calc(var(--xh-font-size) * var(--xh-font-size-small-mult));
  --xh-font-size-small-px: calc(var(--xh-font-size-small) * 1px);

  // Inputs
  --xh-input-bg: var(--input-bg, var(--xh-bg));
  --xh-input-disabled-bg: var(--form-field-disabled-bg, rgba(206, 217, 224, 0.5));  // This and below currently matched from Blueprint defaults
  --xh-input-disabled-text-color: var(--form-field-disabled-text-color, rgba(92, 112, 128, 0.5));
  --xh-input-text-color: var(--input-text-color, var(--xh-text-color));
  --xh-input-placeholder-text-color: var(--input-placeholder-color, rgb(175, 183, 191));

  // Form fields
  --xh-form-field-box-shadow-color-top: var(--form-field-box-shadow-color-top, #{mc-trans('blue-grey', '100', 0.15)});
  --xh-form-field-box-shadow-color-bottom: var(--form-field-box-shadow-color-bottom, #{mc-trans('blue-grey', '100', 0.2)});
  --xh-form-field-box-shadow: var(--form-field-box-shadow, #{inset 0 0 0 1px var(--xh-form-field-box-shadow-color-top), inset 0 1px 1px var(--xh-form-field-box-shadow-color-bottom)});
  --xh-form-field-focused-border-color: var(--form-field-focused-border-color, var(--xh-focus-outline-color));
  --xh-form-field-focused-box-shadow: var(--form-field-focused-box-shadow, #{inset 0 0 0 1px var(--xh-form-field-focused-border-color), inset 0 1px 1px var(--xh-form-field-focused-border-color)});
  --xh-form-field-invalid-border-color: var(--form-field-invalid-border-color, var(--xh-intent-danger));
  --xh-form-field-invalid-box-shadow: var(--form-field-invalid-border-color, #{inset 0 0 0 1px var(--xh-form-field-invalid-border-color), inset 0 1px 1px var(--xh-form-field-invalid-border-color)});
  --xh-form-field-invalid-border-width: var(--form-field-invalid-border-width, 1);
  --xh-form-field-invalid-border-width-px: calc(var(--xh-form-field-invalid-border-width) * 1px);
  --xh-form-field-invalid-border: #{(var(--xh-form-field-invalid-border-width-px) solid var(--xh-form-field-invalid-border-color))};
  --xh-form-field-invalid-message-text-color: var(--form-field-invalid-message-text-color, var(--xh-intent-danger));
  --xh-form-field-margin-bottom: var(--form-field-margin-bottom, 0);
  --xh-form-field-margin-right: var(--form-field-margin-right, 0);

  // Mask + LoadingIndicator
  --xh-mask-bg: var(--mask-bg, #{mc-trans('blue-grey', '300', 0.3)});
  --xh-mask-text-bg: var(--mask-text-bg, #{mc('blue-grey', '100')});
  --xh-mask-text-color: var(--mask-text-color, var(--xh-text-color));
  --xh-loading-indicator-bg: var(--loading-indicator-bg, #{mc('blue-grey', '100')});
  --xh-loading-indicator-border-color: var(--loading-indicator-border-color, var(--xh-border-color));
  --xh-loading-indicator-color: var(--loading-indicator-color, #{mc('blue-grey', '600')});

  // Navbar (top app toolbar)
  --xh-navbar-bg: var(--navbar-bg, var(--xh-bg-alt));
  --xh-navbar-border-color: var(--navbar-border-color, transparent);
  --xh-navbar-color: var(--navbar-color, var(--xh-text-color));
  --xh-navbar-height: var(--navbar-height, 42);
  --xh-navbar-height-px: calc(var(--xh-navbar-height) * 1px);
  --xh-navbar-title-color: var(--navbar-title-color, #{mc('blue-grey', '700')});
  --xh-navbar-title-font-size: var(--navbar-title-font-size, calc(var(--xh-font-size) * 1.9));
  --xh-navbar-title-font-size-px: calc(var(--xh-navbar-title-font-size) * 1px);

  // Padding / Margin (spacing in general)
  --xh-pad: var(--pad, 10);
  --xh-pad-px: calc(var(--xh-pad) * 1px);
  --xh-pad-double: calc(var(--xh-pad) * 2);
  --xh-pad-double-px: calc(var(--xh-pad-double) * 1px);
  --xh-pad-half: calc(var(--xh-pad) * 0.5);
  --xh-pad-half-px: calc(var(--xh-pad-half) * 1px);

  // Panels
  --xh-panel-bg: var(--panel-bg, transparent);
  --xh-panel-border-color: var(--panel-border-color, var(--xh-border-color));
  --xh-panel-border-width: var(--panel-border-width, 0);
  --xh-panel-border-width-px: calc(var(--xh-panel-border-width) * 1px);

  // Popups / dialogs
  --xh-popup-border-color: var(--popup-border-color, var(--xh-popup-title-bg));
  --xh-popup-border-width: var(--popup-border-width, var(--xh-border-width));
  --xh-popup-border-width-px: calc(var(--xh-popup-border-width) * 1px);
  --xh-popup-title-bg: var(--popup-title-bg, var(--xh-title-bg));
  --xh-popup-title-font-size: var(--popup-title-font-size, var(--xh-title-font-size));
  --xh-popup-title-font-size-px: calc(var(--xh-popup-title-font-size) * 1px);
  --xh-popup-title-text-color: var(--popup-title-text-color, var(--xh-title-text-color));

  // Resizable splitter
  --xh-resizable-bg: var(--resizable-bg, #{mc('blue-grey', '50')});
  --xh-resizable-border-color: var(--resizable-border-color, #{mc('blue-grey', '100')});
  --xh-resizable-border-width: var(--resizable-border-width, 1);
  --xh-resizable-border-width-px: calc(var(--xh-resizable-border-width) * 1px);
  --xh-resizable-button-bg: var(--resizable-button-bg, rgba(0, 0, 0, 0.05));
  --xh-resizable-button-icon-color: var(--resizable-button-icon-color, var(--xh-blue-gray));
  --xh-resizable-size: var(--resizable-size, 8);
  --xh-resizable-size-px: calc(var(--xh-resizable-size) * 1px);

  // Scrollbars (customized for webkit)
  --xh-scrollbar-bg: var(--scrollbar-bg, #{mc('blue-grey', '100')});
  --xh-scrollbar-thumb: var(--scrollbar-thumb, #{mc('blue-grey', '300')});

  // Tabs
  --xh-tab-border-width: var(--tab-border-width, var(--xh-border-width));
  --xh-tab-border-width-px: calc(var(--xh-tab-border-width) * 1px);

  // Toolbars
  --xh-tbar-bg: var(--tbar-bg, var(--xh-bg-alt));
  --xh-tbar-border-color: var(--tbar-border-color, #{mc('grey', '400')});
  --xh-tbar-item-pad: var(--tbar-item-pad, var(--xh-pad-half));
  --xh-tbar-item-pad-px: calc(var(--xh-tbar-item-pad) * 1px);
  --xh-tbar-min-size: var(--tbar-min-size, 41);
  --xh-tbar-min-size-px: calc(var(--xh-tbar-min-size) * 1px);
  --xh-tbar-separator-color: var(--tbar-separator-color, #{mc('grey', '400')});
  --xh-tbar-text-color: var(--tbar-text-color, var(--xh-text-color));

  // Text
  --xh-text-color: var(--text-color, var(--xh-blue-gray-dark));
  --xh-text-color-accent: var(--text-color-accent, var(--xh-orange));
  --xh-text-color-headings: var(--text-color-headings, var(--xh-text-color));
  --xh-text-color-highlight: var(--text-color-highlight, #{mc('blue-grey', '800')});
  --xh-text-color-muted: var(--text-color-muted, var(--xh-gray));

  // Titles (e.g. panels, dialogs)
  --xh-title-bg: var(--title-bg, var(--xh-blue-gray));
  --xh-title-text-color: var(--title-text-color, var(--xh-blue-gray-light));
  --xh-title-font-size: var(--title-font-size, var(--xh-font-size-large));
  --xh-title-font-size-px: calc(var(--xh-title-font-size) * 1px);
  --xh-title-height: var(--title-height, 36);
  --xh-title-height-px: calc(var(--xh-title-height) * 1px);
  --xh-title-pad: var(--title-pad, var(--xh-pad-half));
  --xh-title-pad-px: calc(var(--xh-title-pad) * 1px);
  --xh-title-compact-font-size: var(--title-compact-font-size, var(--xh-font-size));
  --xh-title-compact-font-size-px: calc(var(--xh-title-compact-font-size) * 1px);
  --xh-title-compact-height: var(--title-compact-height, 28);
  --xh-title-compact-height-px: calc(var(--xh-title-compact-height) * 1px);

  // Blueprint intents
  --xh-intent-primary: var(--intent-primary, var(--xh-blue-dark));
  --xh-intent-danger: var(--intent-danger, var(--xh-red));
  --xh-intent-success: var(--intent-success, var(--xh-green));
  --xh-intent-warning: var(--intent-warning, var(--xh-orange-muted));

  // Buttons
  --xh-btn-active-color: var(--btn-active-color, #{mc('blue-grey', '100')});
}

//------------------------
// Dark Theme
//------------------------
body.xh-dark {
  // Colors
  --xh-black: var(--black, #12171a);
  --xh-gray-dark: var(--gray-dark, #{mc('grey', '900')});
  --xh-green: var(--green, #009e0a); // could not find a MC green that works, especially in grids....
  --xh-green-muted: var(--green-muted, #{mc-muted('green', '800', 20%, 5%)});
  --xh-red: var(--red, #{mc('red', 'a700')});

  // Background (app / components in general)
  --xh-bg: var(--bg, var(--xh-black));
  --xh-bg-alt: var(--bg-alt, var(--xh-blue-gray-dark));
  --xh-bg-highlight: var(--bg-highlight, #{mc-trans('light-blue', '500', 0.65)});

  // Borders
  --xh-border-color: var(--border-color, #{mc('blue-grey', '800')});

  // Grid
  --xh-grid-bg-odd: var(--grid-bg-odd, #151f24);
  --xh-grid-border-color: var(--grid-border-color, #293233);
  --xh-grid-cell-change-bg-highlight: var(--grid-cell-bg-highlight, #{mc-trans('orange', '800', 0.8)});
  --xh-grid-group-bg: var(--grid-group-bg, #{mc('blue-grey', '800')});
  --xh-grid-group-border-color: var(--grid-group-border-color, #{mc('blue-grey', '700')});
  --xh-grid-header-bg: var(--grid-header-bg, var(--xh-black));
  --xh-grid-pinned-column-border-color: var(--grid-pinned-column-border-color, #{mc('grey', '800')});

  // Inputs
  --xh-input-bg: var(--input-bg, rgba(0, 0, 0, 0.3)); // Allow some blending w/backgrounds - e.g. in dialog.
  --xh-input-disabled-bg: var(--form-field-disabled-bg, rgba(57, 75, 89, 0.5)); // This and below currently matched from Blueprint defaults
  --xh-input-disabled-text-color: var(--form-field-disabled-text-color, rgba(191, 204, 214, 0.5));

  // Form Fields
  --xh-form-field-box-shadow-color-top: var(--form-field-box-shadow-color-top, #{mc-trans('blue-grey', '800', 0.15)});
  --xh-form-field-box-shadow-color-bottom: var(--form-field-box-shadow-color-bottom, #{mc-trans('blue-grey', '800', 0.2)});

  // Mask + LoadingIndicator
  --xh-mask-bg: var(--mask-bg, #{mc-trans('blue-grey', '900', 0.2)});
  --xh-mask-text-bg: var(--mask-text-bg, #{mc-trans('grey', '900', 0.1)});
  --xh-mask-text-color: var(--mask-text-color, var(--xh-text-color));
  --xh-loading-indicator-bg: var(--loading-indicator-bg, #{mc('blue-grey', '700')});
  --xh-loading-indicator-color: var(--loading-indicator-color, #{mc('blue-grey', '200')});

  // Navbar
  --xh-navbar-border-color: var(--navbar-border-color, #{mc('blue-grey', '700')});
  --xh-navbar-title-color: var(--navbar-title-color, #{mc('blue-grey', '50')});

  // Resizable splitter
  --xh-resizable-bg: var(--resizable-bg, #{mc('blue-grey', '800')});
  --xh-resizable-border-color: var(--resizable-border-color, #{mc('blue-grey', '900')});
  --xh-resizable-button-bg: var(--resizable-button-bg, rgba(255, 255, 255, 0.08));
  --xh-resizable-button-icon-color: var(--resizable-button-icon-color, #{mc('blue-grey', '900')});

  // Scrollbars (customized for webkit)
  --xh-scrollbar-bg: var(--scrollbar-bg, var(--xh-black));
  --xh-scrollbar-thumb: var(--scrollbar-thumb, #{mc('blue-grey', '900')});

  // Toolbars
  --xh-tbar-bg: var(--tbar-bg, #{mc('blue-grey', '900')});
  --xh-tbar-border-color: var(--tbar-border-color, #{mc('blue-grey', '800')});
  --xh-tbar-separator-color: var(--tbar-separator-color, #{mc('blue-grey', '600')});

  // Text
  --xh-text-color: var(--text-color, white);
  --xh-text-color-accent: var(--text-color-accent, var(--xh-orange));
  --xh-text-color-highlight: var(--text-color-highlight, white);
  --xh-text-color-muted: var(--text-color-muted, #{mc('grey', '600')});

  // Blueprint intents
  --xh-intent-primary: var(--intent-primary, var(--xh-blue-muted));
  --xh-intent-danger: var(--intent-danger, var(--xh-red-muted));
  --xh-intent-success: var(--intent-success, var(--xh-green-muted));
  --xh-intent-warning: var(--intent-warning, var(--xh-orange-muted));

  // Buttons
  --xh-btn-active-color: var(--btn-active-color, #{mc('blue-grey', '600')});
}

//------------------------
// Mobile
//------------------------
body.xh-mobile {
  --xh-accent-color: var(--accent-color, var(--xh-blue-light));
  --xh-list-select-color: var(--list-select-color, var(--xh-blue-light));

  // Buttons
  --xh-btn-color: var(--btn-color, #{mc('blue-grey', '600')});
  --xh-toolbar-btn-color: var(--toolbar-btn-color, var(--xh-btn-color));

  // Grid
  --xh-grid-font-size: var(--grid-font-size, 14);
  --xh-grid-line-height: var(--grid-line-height, 30);
  --xh-grid-compact-font-size: var(--grid-compact-font-size, 13);
  --xh-grid-compact-line-height: var(--grid-compact-line-height, 26);

  // Fonts
  --xh-font-size: var(--font-size, 15);

  // Navbar (top app toolbar)
  --xh-navbar-bg: var(--navbar-bg, #{mc('blue-grey', '600')});
  --xh-navbar-color: var(--navbar-color, #{mc('blue-grey', '50')});
  --xh-navbar-title-color: var(--navbar-title-color, var(--xh-navbar-color));
  --xh-navbar-title-font-size: var(--navbar-title-font-size, 19);

  // Titles (e.g. panels, dialogs)
  --xh-title-bg: var(--title-bg, #{mc('blue-grey', '100')});
  --xh-title-text-color: var(--title-text-color, #{mc('blue-grey', '800')});
  --xh-title-font-size: var(--title-font-size, var(--xh-font-size));

  // Mask
  --xh-mask-bg: var(--mask-bg, rgba(0, 0, 0, 0.2));
}

body.xh-mobile.xh-dark {
  --xh-navbar-bg: var(--navbar-bg, #{mc('blue-grey', '700')});
  --xh-tbar-bg: var(--tbar-bg, #{mc('blue-grey', '900')});
  --xh-title-bg: var(--title-bg, #{mc('blue-grey', '900')});
  --xh-title-text-color: var(--title-text-color, #{mc('blue-grey', '50')});
}
