@import 'vars';
@import 'helpers';

body.xh-app {
  background-color: var(--xh-bg);
  border-color: var(--xh-border-color);
  color: var(--xh-text-color);
  font-family: var(--xh-font-family);
  font-size: var(--xh-font-size-px);
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  // Important for using the body as the `popupParent` for our ag-grids
  height: 100vh;
  margin: 0;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: var(--xh-scrollbar-bg);
    width: 10px;
    height: 10px;
  }

  ::-webkit-input-placeholder {
    color: var(--xh-input-placeholder-text-color);
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--xh-scrollbar-bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--xh-scrollbar-thumb);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--xh-text-color-headings);
    margin: var(--xh-pad-px) 0;
  }

  :focus:not(.bp3-input) {
    outline: var(--xh-focus-outline);
    outline-offset: var(--xh-focus-outline-offset-px);
  }

  .xh-title-tip {
    cursor: pointer;
  }

  .xh-black { color: var(--xh-black); }

  .xh-blue { color: var(--xh-blue); }

  .xh-blue-muted { color: var(--xh-blue-muted); }

  .xh-blue-dark { color: var(--xh-blue-dark); }

  .xh-blue-light { color: var(--xh-blue-light); }

  .xh-blue-gray { color: var(--xh-blue-gray); }

  .xh-blue-gray-light { color: var(--xh-blue-gray-light); }

  .xh-blue-gray-dark { color: var(--xh-blue-gray-dark); }

  .xh-gray { color: var(--xh-gray); }

  .xh-gray-dark { color: var(--xh-gray-dark); }

  .xh-gray-light { color: var(--xh-gray-light); }

  .xh-green { color: var(--xh-green); }

  .xh-green-muted { color: var(--xh-green-muted); }

  .xh-orange { color: var(--xh-orange); }

  .xh-orange-muted { color: var(--xh-orange-muted); }

  .xh-red { color: var(--xh-red); }

  .xh-red-muted { color: var(--xh-red-muted); }

  .xh-yellow { color: var(--xh-yellow); }

  .xh-yellow-light { color: var(--xh-yellow-light); }

  .xh-transparent { color: transparent; }

  .xh-text-color { color: var(--xh-text-color); }

  .xh-text-color-accent { color: var(--xh-text-color-accent); }

  .xh-text-color-muted { color: var(--xh-text-color-muted); }

  .xh-font-size-large { font-size: var(--xh-font-size-large-em); }

  .xh-font-size-small { font-size: var(--xh-font-size-small-em); }

  .xh-border { border: var(--xh-border-solid); }

  .xh-border-solid { border: var(--xh-border-solid); }

  .xh-border-dotted { border: var(--xh-border-dotted); }

  .xh-border-top { border-top: var(--xh-border-solid) !important; }

  .xh-border-right { border-right: var(--xh-border-solid) !important; }

  .xh-border-bottom { border-bottom: var(--xh-border-solid) !important; }

  .xh-border-left { border-left: var(--xh-border-solid) !important; }

  .xh-align-center { text-align: center; }

  .xh-align-left { text-align: left; }

  .xh-align-right { text-align: right; }

  .xh-pad { padding: var(--xh-pad-px); }

  .xh-pad-double { padding: var(--xh-pad-double-px); }

  .xh-pad-half { padding: var(--xh-pad-half-px); }
}

// Lightly patterned background with light and dark theme variants.
.xh-tiled-bg {
  background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"><rect x="0" y="0" width="20" height="20" style="fill: #F5F5F5;" /></svg>');

  .xh-dark & {
    background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"><rect x="0" y="0" width="20" height="20" style="fill: #212121;" /></svg>');
  }
}

.xh-popup {
  // Support "framed" popovers with border and border-colored arrow
  &--framed {
    border: 1px solid var(--xh-popup-border-color);

    .bp3-popover-arrow-border,
    .bp3-popover-arrow-fill {
      fill: var(--xh-popup-border-color) !important;
    }
  }

  // Minimal title style for a header div within a popover - used for e.g column and dimension choosers.
  &__title {
    text-align: center;
    text-transform: uppercase;
    padding: var(--xh-pad-half-px);
    font-size: var(--xh-font-size-small-px);
    background-color: var(--xh-popup-title-bg);
    color: var(--xh-popup-title-text-color);
  }
}
