.xh-mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pt-overlay-backdrop {
    background-color: var(--xh-mask-bg);
  }

  .xh-mask-text {
    border-radius: var(--xh-border-radius-px);
    padding: var(--xh-pad-half-px);
    background-color: var(--xh-mask-content-bg);
    color: var(--xh-mask-content-color);
  }

}