/*
 * This file belongs to Hoist, an application development toolkit
 * developed by Extremely Heavy Industries (www.xh.io | info@xh.io)
 *
 * Copyright © 2020 Extremely Heavy Industries Inc.
 */

@import '../../styles/helpers';

.lm_goldenlayout {
  background: var(--xh-bg-alt);

  .lm_header {
    background: rgba(0, 0, 0, 0.06);

    .xh-dash-container-add-button {
      padding: 5px;
      color: #999;

      &:hover {
        cursor: pointer;
        color: var(--xh-text-color);
      }
    }

    .lm_tab {
      display: flex;
      align-items: center;
      margin: 2px 0 0 2px;
      padding: 4px 8px;
      font-family: var(--xh-font-family);
      font-size: var(--xh-font-size-px);
      line-height: 1;
      background: var(--xh-bg-alt);
      border: var(--xh-border-solid);
      border-bottom: none;
      color: var(--xh-text-color);

      &.lm_active {
        background: var(--xh-bg);
        border-bottom: 1px solid var(--xh-bg);
      }

      svg {
        margin-right: var(--xh-pad-half-px);
        font-size: 12px;
        color: var(--xh-text-color);
      }

      .lm_close_tab {
        margin-left: var(--xh-pad-half-px);
        position: static;
        background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#999" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"/></svg>');
      }
    }
  }

  .lm_splitter {
    opacity: 1;
    background: var(--xh-resizable-bg);

    &.lm_horizontal {
      border-left: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
      border-right: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
    }

    &.lm_vertical {
      border-top: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
      border-bottom: var(--xh-resizable-border-width-px) solid var(--xh-resizable-border-color);
    }
  }

  .lm_content {
    display: flex;
    border: none;
    border-top: var(--xh-border-solid);
    background: var(--xh-bg);
  }
}

.lm_dragProxy {
  .lm_header .lm_tab {
    padding: var(--xh-pad-half-px) var(--xh-pad-px);
    line-height: 1;
    font-family: var(--xh-font-family);
    font-size: var(--xh-font-size-px);
    background: var(--xh-bg);
    border: var(--xh-border-solid);
    color: var(--xh-text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .lm_content {
    display: none;
  }
}
