.xh-dash-canvas-widget-well {
  padding: 0 var(--xh-pad-half-px);

  .xh-collapsible-box {
    padding: 0 var(--xh-pad-half-px) var(--xh-pad-half-px) var(--xh-pad-half-px);
    margin: var(--xh-pad-half-px);
  }

  .xh-dash-canvas-draggable-widget {
    border: var(--xh-border-dotted);
    background-color: var(--xh-bg-alt);
    padding: var(--xh-pad-half-px);
    margin: var(--xh-pad-half-px);
    text-wrap-mode: nowrap;
    cursor: grab;

    &.is-dragging {
      cursor: grabbing;
      // lighten background color of left behind placeholder
      // when dragging
      opacity: 0.25;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &--row {
    .xh-dash-canvas-draggable-widget {
      align-self: flex-start;
    }
  }
}
