.xh-dash-canvas-widget-well {
  padding: 0 var(--xh-pad-px);

  .xh-collapsible-fieldset {
    margin: var(--xh-pad-half-px) 0;
  }

  .xh-dash-canvas-draggable-widget {
    border: var(--xh-border-dotted);
    background-color: var(--xh-bg-alt);
    padding: var(--xh-pad-half-px);
    margin: var(--xh-pad-half-px) 0;
    cursor: grab;

    &.is-dragging {
      cursor: grabbing;
      // lighten background color of left behind placeholder
      // when dragging
      opacity: 0.25;
    }

    &:active {
      cursor: grabbing;
    }
  }
}
